[2020-01-15 21:41] cristianchaparroa opened #4 "Example of RqueueMessageSender injection"
Hi would you like to provide an example of `RqueueMessageSender` configuration
Because when  I try to use it, spring says me that it is not possible to inject it.

[2020-01-16 04:05] sonus21 commented on #4
Hi Cristian
In the repo there're two examples

1.  Spring boot
* https://github.com/sonus21/rqueue/tree/master/rqueue-spring-boot-example
* https://github.com/sonus21/rqueue-task-exector
2. Spring https://github.com/sonus21/rqueue/tree/master/rqueue-spring-example

[2020-01-29 10:11] sonus21 commented on #4
Closing this issue, hope @cristianchaparroa  you have got it working.

[2020-01-29 10:11] #4 closed

[2020-02-26 15:47] mertkiray opened #5 "argument type mismatch"
Thank you for this library :)
I got  java.lang.IllegalStateException: argument type mismatch error while trying to send objects to the queue.

Stacktrace:
[code]

My classes:

Object that I want to send over queue
[code]

My queue listener
[code]

My message send function
[code]

Thanks.
Edit: Markdown

[2020-02-26 17:06] sonus21 commented on #5
Hi @mertkiray
Thanks for reporting issue.
Can you please confirm, if you don't have multiple JobX class in the codebase ?

This issue is likely happening due to the Class.forName is creating different class's object while the listener is expecting different type of object.

Also this can be verified by executing  `LRANGE` command on `Redis` list `rqueue-processing::delayed-queue-job`

[2020-02-26 17:39] mertkiray commented on #5
@sonus21  I am pretty sure there is no multiple JobX class in the codebase. What can I provide to help you debug the problem?

[2020-02-26 17:44] mertkiray commented on #5
I think that it may be due to RedisTemplate defined in RedisUtil.class, any solution to overwrite the redistemplate used in the project to debug?

[2020-02-26 17:49] sonus21 commented on #5
No, we can't overwrite that.  Can you provide a sample spring code to reproduce this issue?
Also if possible please share  spring-messaging and spring-boot versions.

[2020-02-26 17:53] mertkiray commented on #5
Let me try to reproduce the issue.

spring-messaging version: 5.2.2.RELEASE
spring-boot versions: 2.2.2.RELEASE

[2020-02-26 18:11] mertkiray commented on #5
Hi @sonus21 ,
I was able to reproduce the issue

[2020-02-26 18:37] sonus21 commented on #5
Thanks, Let me check why this error is occurring. Something strange, I'll update you once I find the root cause.

[2020-02-26 19:51] mertkiray commented on #5
Sure waiting for your reply ^^

[2020-02-26 19:55] sonus21 commented on #5
Can you please remove devtool dependency and try? This is the culprit, I'm not sure exactly why that's causing this issue. We might have to raise bug to the spring team.

[2020-02-26 20:12] mertkiray commented on #5
When I removed dev-tools, it worked! :)
But this is definitely an issue with dev-tools, how should we proceed?

[2020-02-26 20:20] sonus21 commented on #5
If you don't need `devtools` then you can remove and in production it's very unlikely you will be using. So this error should not come but you need to test in some test environment to confirm the theory.

Other people have also facing similar issues https://github.com/neo4j/neo4j-ogm/issues/743

[2020-02-26 20:23] mertkiray commented on #5
Yeah, thanks for the help you saved me a day :+1:
I will look for a solution and if I find I will open a PR  :)

[2020-03-09 08:36] googlerobot opened #7 "Lower version support"
**Describe the bug**

Hi,  I'am using spring cloud with a lower version of spring boot.

[code]

but it seem that not support the spring boot version below 2.2.0.RELEASE ?

**How to Reproduce**

try use lower version.

**Screenshots**

**Library Dependencies**
 - Spring Boot: 2.1.5.RELEASE
 - Spring Messaging: 5.1.7.RELEASE
 - Spring Data Redis:  2.1.5.RELEASE

**Additional Details**

[code]

[2020-03-17 11:21] sonus21 commented on #7
Thanks for reporting this issue, yes we don't support spring libs below 2.2, it's compiled with 2.2.0.
Can you please upgrade your code base to use 2.2.0?

[2020-04-01 07:50] sonus21 commented on #7
@googlerobot
Can you try version 1.3.2.RELEASE? I've changed the code to use lower version, let me know if you still face this issue.

[2020-04-07 11:46] #7 closed

[2020-04-07 18:16] j0nathan33 opened #11 "Some queue take more that 15 minute to execute"
**Describe the bug**

I have some queue take more that 15 minute to finish execution. After 15 minute, queue is respawn but queue is not finished and It finished with status succes. After that, duplicate queue is executed and It recreate same queue after 15 minute. Only way to stop infini respawn, It to restart application and clear redis queue.

**How to Reproduce**

* Create new queue and put Th

[2020-04-08 16:22] sonus21 commented on #11
Hi Jonathan
Updated code has been released to work around this, now you can configure the task execution per queue basis.

We can configure the execution time to a given listener by providing `maxJobExecutionTime` field of `RqueueListener` annotation. Execution time has to be in `milliseconds`.

Version: 1.4.0.RELEASE

Usage

[code]

[2020-04-21 14:47] longveeshaw opened #12 "Manual start and stop of container"
Can the queue stop or start according the configuration? When we would stop
the application,we should stop the queue listener so that data won't miss

[2020-04-21 19:36] sonus21 commented on #12
Hi @longveeshaw
Yes, It's guaranteed to at least once message delivery, listeners are stopped at the time of shutdown. Of course shutdown would increase as application has to wait for the executing task to be executed but in some cases but it might timeout as shutdown process can't be hold for many minutes or so.

Could you provide some more context about ?

[2020-04-21 19:37] #11 closed

[2020-04-23 03:54] longveeshaw commented on #12
Just like kafka :
    MessageListenerContainer listenerContainer = kafkaListenerEndpointRegistry.getListenerContainer(listenerId);
//  if need to start  listen,just write  listenerContainer.start()
 listenerContainer..start();
// if need to stop listen,just write listenerContainer.stop;
 listenerContainer.stop();

if this command is available,when we need to deploy a new application,we can first s

[2020-04-23 05:46] sonus21 commented on #12
IIUC, you're looking for manual start and stop of container, **It does support manual start and stop, but not at consumer level, it will start all consumer and stop all consumers/listeners**.

Create `SimpleRqueueListenerContainerFactory` with autoStart=false, this will create a container of  type `RqueueMessageListenerContainer`. Once this bean is created with auto start is false, then you can co

[2020-04-23 06:31] longveeshaw commented on #12
ok,i will have a try. Tks

[2020-05-04 12:46] joeldatabox opened #14 "Customizable redis key prefix"
I would like to be able to customize the prefix inserted in the redis keys. Is there any prediction for that?

Thank you very much in advance!

[2020-05-04 13:53] sonus21 commented on #14
Hi Joel,
Do  you want to use global key prefix for all key used by Rqueue or only some of the keys?
For it's internal data it uses a key prefix but queue names are used as it as,

[2020-05-05 13:58] joeldatabox commented on #14
Hi @sonus21 . I've been analyzing your code I noticed that it has as prefix the following variables
`private static final String DELAYED_QUEUE_PREFIX = "rqueue-delay ::";
   private static final String CHANNEL_PREFIX = "rqueue-channel ::";
   private static final String PROCESSING_PREFIX = "rqueue-processing ::";
   private static final String PROCESSING_CHANNEL_PREFIX = "rqueue-processing-channel

[2020-05-05 14:45] joeldatabox opened #15 "Problems configuring Rqueue in Springboot"
Hello. I'm not able to configure Rqueue in Springboot. SpringBoot is unable to inject the "RqueueMessageSender". To better demonstrate my case I created an example that can be checked "[here](https://github.com/joeldatabox/demorqueue)";

Basically Spring is not injecting the RqueueMessageSender dependency

Exception thrown:
**Caused by: org.springframework.beans.factory.NoSuchBeanDefinitionExcepti

[2020-05-05 16:24] sonus21 commented on #15
Hi Joel
Thanks for trying this out. This is happening due to some issue in pom file.

You need to use

[code]

Please let me know if this fixes your issue.

[2020-05-05 16:26] sonus21 commented on #14
@joeldatabox
Yes, that's coming in next release v2.0. Also in the version 2.0 queue name would be prefixed. Still there could be some other prefix apart from user configured, since data is stored in different list/zset(s).

[2020-05-05 17:58] joeldatabox commented on #14
I look forward to the next versions. Thank you for your attention and congratulations on your work!

[2020-05-05 18:00] joeldatabox commented on #15
Hi @sonus21! Thank you very much, it worked perfectly now.

[2020-05-06 04:23] #15 closed

[2020-05-07 01:20] longveeshaw opened #17 "Whether the queue provides priority ？"
Whether the queue provides priority ？

[2020-05-07 07:48] sonus21 commented on #17
No, queue does not provide priority. That's supposed by added in version 2.2.0, release date is still not finalised likely by End of June.

[2020-05-08 03:10] longveeshaw commented on #17
Expect it so much.

[2020-05-08 05:10] sonus21 commented on #17
I'm happy for any PR for this, due to queue starvation and different priority mechanism It would require a though through design and use cases.

[2020-05-09 03:22] sonus21 commented on #17
Would you mind try out a nightly build for your testing, I can provide in next 2 days?

[2020-05-10 12:27] sonus21 commented on #14
@joeldatabox
Version 2.0.0 is released, and this feature is there. Let me know if you need any help in configuring that.

[2020-05-10 12:27] #12 closed

[2020-05-10 12:38] sonus21 commented on #17
Rqueue supports of two types of priority

1. Weighted
2. Strict priority

Priority needs to be specified using annotation's field priority. Even priority can be grouped for multiple queues.  Queue can be classified into multiple priority groups as well for example sms queue has 4 types of sub queues `critical`, `high`, `medium` and `low` their priority can be specified using

`priority="critical=1

[2020-05-12 00:35] longveeshaw commented on #17
what is the differentence between the 'Weighted' and  'Strict priority'? Can u give me some examples?

[2020-05-12 04:18] sonus21 commented on #17
Weighted priority works in round robin fashion, for example
Let's say there're three queues

|  Queue |  Priority |
|---|---|
|  Q1 | 6  |
|  Q2 | 4  |
| Q3  | 2  |

## Weighted Priority
In weighted case, Q1 would be polled 6 times and Q2 4 times and Q3 2 times and again this process repeats. For example if Q1 does not have any item then it's weight is reduces by currentWeight * (1-(6/(4+3+2)), as

[2020-05-12 05:26] sonus21 commented on #5
@mertkiray
I can confirm this is a bug in Rqueue lib code. It will be fixed in version 2.0.1 due to release over this weekend. This is happening due to Class.forName uses different class loaders while dev tools provide different class loaders.

[2020-05-12 07:43] longveeshaw commented on #17
ok，tks！i will have a try in my projects.

[2020-05-12 13:25] joeldatabox commented on #14
Thank you very much @sonus21 !

[2020-05-12 13:34] #14 closed

[2020-05-12 15:49] tuneyou opened #19 "Using Rqueue with ReadFrom.REPLICA_PREFERRED fails"
Hello,
When using ReadFrom.REPLICA_PREFERRED, it keeps trying to write to slave server, instead of just reading from it.

[2020-05-12 15:58] sonus21 commented on #19
Hi @tuneyou
Can you please provide some more details Rqueue version and Redis driver details?

Rqueue relies on Spring heavily for read/write, need to see what's causing this issue.

Also what's the error you're getting?
Can you please also use Rqueue version 2.0.0 instead of 1.x?

[2020-05-12 16:57] tuneyou commented on #19
Of Course :)
I am using the latest version, 2.0.0.

**Lettuce Conf:**

@Bean
    public RedisConnectionFactory redisConnectionFactory() {
        RedisStandaloneConfiguration serverConfig = new RedisStandaloneConfiguration(redisMasterHost, redisMasterPort);
        serverConfig.setPassword(RedisPassword.of(redisPassword));
        LettuceClientConfiguration lettuceClientConfiguration = LettuceClie

[2020-05-12 17:04] sonus21 commented on #19
Hmm, I was looking into this. Can you use master preferred? I see it will bring performance penalty the system, this problem is coming due to the underlying code in the spring-data that assumes that script has to be run on slave nodes for some reason, will dig into details why that's the case.

You can use two different redis connection, if you really want to use read preferred for your applicatio

[2020-05-12 17:10] tuneyou commented on #19
Thank you very much for your prompt responses.
Your dev is great, I've chose it from various options had, also pub sub of redis with didn't satisfy what I requested (it send message to all the listeners, and not processing only once)
For now, I will do so, as I still work on the functionality of what I need, but on the long term it won't be possible without supporting all redis servers, as this is

[2020-05-12 17:17] sonus21 commented on #19
Can you provide more details about this? I would like to see what's causing this to happen, if visibilityTimeout is too small then only this is possible, in that case you should increase visibility timeout.

[2020-05-12 17:29] tuneyou commented on #19
BTW,
I've tried using multiple connections, and defining on Rqueue only master, but from some reason (which I don't have time to spend on :) ) it wasn't accepted by spring and build failed.

My need is that each request will be handled only once, it does happen when using only 1 server, but on N servers, there are N consumers for same message, and according to redis logic, it sends the message to

[2020-05-12 17:40] sonus21 commented on #19
As long as your Redis is alive, data will be there, it won't be lost. If Redis dies and you didn't have enable disk persistent data would be lost. So it relies on the Redis, if data persist there then it will be able to handle all fallbacks.

Also I didn't understand one of your point, if you've cluster setup then you can write to only master nodes not to all. So there's no chance of utilising ent

[2020-05-12 19:10] tuneyou commented on #19
Yes, it automatically writes only to master, but prefer reading from slave.
But when using Rqueue, it doesn't detect this definition, and tries to write to slave.
All other redis writes are working as expected, writing to master, and reading from replica as long as it is available.

[2020-05-12 19:38] sonus21 commented on #19
There seems to be some issue, look at this ticket.

https://jira.spring.io/browse/DATAREDIS-908

[2020-05-12 19:45] tuneyou commented on #19
Interesting... what do you suggest besides putting MATER PREFERRED.
Do you have any other idea?

[2020-05-12 19:57] sonus21 commented on #19
I would suggest to use MASTER_PREFERRED and provide an additional connection factory to Rqueue to deal with this problem. Other part of the applications can continue to use REPLICA_PREFERRED.

I don't have any other workaround apart from going back doing some transaction stuff and changing again entire code. That would also require master connection. From the number of read/writes perspective look

[2020-05-12 20:02] tuneyou commented on #19
I've tried this, but the code wasn't compiled.
I use Rqueue with this way:

@Bean
    public SimpleRqueueListenerContainerFactory simpleRqueueListenerContainerFactory(RqueueMessageHandler rqueueMessageHandler){
        SimpleRqueueListenerContainerFactory factory = new SimpleRqueueListenerContainerFactory();
        factory.setRedisConnectionFactory(redisConnectionFactory());
        factory.setMa

[2020-05-12 20:06] sonus21 commented on #19
What's the compilation error? It should compile perfectly.

[2020-05-12 21:08] tuneyou commented on #19
when I change it to this:

@Bean
    public RedisConnectionFactory redisConnectionFactory() {
        RedisStandaloneConfiguration serverConfig = new RedisStandaloneConfiguration(redisMasterHost, redisMasterPort);
        serverConfig.setPassword(RedisPassword.of(redisPassword));
        LettuceClientConfiguration lettuceClientConfiguration = LettuceClientConfiguration.builder().readFrom(ReadFrom.

[2020-05-13 03:46] sonus21 commented on #19
[code]

[2020-05-17 10:52] #5 closed

[2020-05-18 12:16] #19 closed

[2020-05-21 17:10] pavitrashanbhag opened #21 "Rqueue seems to be not dequeueing the messages when there are delays in enqueue time"
When messages are getting pushed to Rqueue with a gap of 2 mins or more, the messages seems to be not getting consumed by listeners.

Using this in spring boot app (2.0), for delayed queue functionality. Have developed an API to push messages to a test-queue with constant delay. Have placed logs in producer and listeners too. If API is invoked with some time gaps (or 1 min or more ), I can see the

[2020-05-21 17:49] sonus21 commented on #21
Can you please move to version 2.0.1 and let me know if you observe the same issue? There's a dashboard to see queue messages as well in version 2.0.1

[2020-05-21 17:56] sonus21 commented on #17
@longveeshaw I hope everything is working as expected, let me know if you need any other details form my side otherwise we can close this issue.

[2020-05-27 17:36] tuneyou commented on #19
Hello Sonus,
How are you?
What does setMaxNumWorkers do, and what's the relations with threads pool size?

Thanks :)

[2020-05-27 17:44] sonus21 commented on #19
Hello
I'm doing good, I hope you're doing good too.

When you're using custom executor then you should set this number as `(number of listeners - thread pool max size)`.  The `maxNumWokers ` tells how many workers you want to run in parallel for all listeners, for example if you have 3 listeners and you have set this as 10 then all 3 listeners would be running combined 10 jobs.

If you don't set t

[2020-05-27 17:50] sonus21 commented on #21
Closing this ticket, please feel free to open this if you have any question/issue.

[2020-05-27 17:50] #21 closed

[2020-05-27 17:51] #17 closed

[2020-05-28 14:59] tuneyou commented on #19
Currently this is my code:

@Bean
    public SimpleRqueueListenerContainerFactory simpleRqueueListenerContainerFactory(RqueueMessageHandler rqueueMessageHandler){
        SimpleRqueueListenerContainerFactory factory = new SimpleRqueueListenerContainerFactory();
        RedisStandaloneConfiguration serverConfig = new RedisStandaloneConfiguration(redisMasterHost, redisMasterPort);
        serverConf

[2020-05-28 16:09] sonus21 commented on #19
This tells how many workers should be running at any point of time, so you could be running 50 threads at some point of times.

This tells that we should always have 20 threads ready for workers.

This tells that we can create maximum 100 threads, and as the execution completed they are recycled for re-usage and some of them would be discarded to reach `CorePoolSize`

This number says even though

[2020-05-29 13:24] tuneyou commented on #19
Perfect, thank you sonus!

[2020-05-29 13:50] sonus21 commented on #19
Would you mind, if I can add your web/company name in the new section Used by?  You can also raise a PR for the same.

[2020-05-29 14:55] tuneyou commented on #19
Of course you can :)

On Fri, May 29, 2020, 16:50 Sonu Kumar <notifications@github.com> wrote:

[2020-05-29 15:28] bnznamco opened #22 "create instance of MessageListener manually"
I cannot figure out how to manually create an instance of the MessageListener.
If I remove the "@Component" annotation from the messagelistener class the "@RqueueListener" annotation for the methods seems to have no effects (the method is not triggered by channel messages even if the class is instantiated).
I would like to manually create a messagelistener instance without spring bean and autowiri

[2020-05-29 17:05] sonus21 commented on #22
Hi Gabriele,
I'm really sorry to say, currently there's no way to do it.

I'm wondering what's your use case, are you trying to use this in Non spring application?

Many beans created and auto-wired using configuration, these all would needs to be changed to support Non-Spring apps.

[2020-05-30 05:56] sonus21 commented on #19
Thanks, I have added :)

[2020-06-03 10:38] bnznamco commented on #22
I'm trying to implement this in a spring application, so I can definetly take advantage of autowire. The reason of the request is that the project I'm working on has been developed by other people before me and they have implemented their own builders to instantiate and connect various interfaces. so to keep the implementation coherent with their work I thought to instantiate the listener componen

[2020-06-03 10:38] #22 closed

[2020-06-03 14:39] sonus21 commented on #22
Thanks for the explanation.

IIUC you have some code that glues one or more beans and either you auto-wire them using BeanDefinition or BeanFactory or by some other beans.
You can either of these two approaches to register MessageListeners
* Use the same approach to create MessageListener beans and register them
*  Create MessageListener beans using function like

[code]

[2020-06-11 12:15] tuneyou opened #23 "What's not working?"
When adding actuator build fails.

<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>

getting this error:

Parameter 0 of method rqueueCounter in com.github.sonus21.rqueue.spring.RqueueListenerConfig required a bean named 'meterRegistry' that could not be found.

The injection point has the f

[2020-06-11 12:43] sonus21 commented on #23
Interesting finding :)
Complete fix would require you to upgrade to new version as a quick hack.
add this code

[code]

[2020-06-11 12:51] sonus21 commented on #23
Also, are you using `rqueue-spring-boot-starter` or `rqueue-spring` artifact?
`com.github.sonus21.rqueue.spring.RqueueListenerConfig` class exist for `rqueue-spring` artifact,  this should be used only for spring MVC app not for Spring-Boot based app.

[2020-06-12 07:40] tuneyou commented on #23
Perfect.
Thank you Sonus, it works!

[2020-06-12 07:52] #23 closed

[2020-06-20 08:07] saikat1978 opened #24 "Creating separate applications for consumers and producers"
Hi,

I am not sure whether it's a bug or not, however, here is my scenario -

1. I have one spring boot web service application that produces the messages, using rqueue sender enqueue methods.
2. I want to create separate consumers as spring boot apps, where the enqueued messages will get consumed.

At present, the messages are not even getting posted to the redis queue, if I do not write the mess

[2020-06-20 10:47] sonus21 commented on #24
Hi,
This is not a bug, please use method `registerQueue` in MessageSender class.

https://github.com/sonus21/rqueue/blob/36bb806681a51f80588e028cf12d0730612a3bf1/rqueue/src/main/java/com/github/sonus21/rqueue/core/RqueueMessageSenderImpl.java#L225

[2020-06-20 19:55] saikat1978 commented on #24
Yep its working fine now. Thanks for the info.

[2020-06-20 19:55] #24 closed

[2020-07-11 16:52] chlegou opened #25 "Unable to configure Rqueue in jhipster Spring boot microservice application"
**Describe the bug**
I'm not able to configure Rqueue in a jHipster Spring boot  microservice application. I have followed all your resources over the internet and also your tutorial projects, but without luck

this is my pom file:

	<spring-boot.version>2.2.7.RELEASE</spring-boot.version>
	...............
	<dependency>
		<groupId>com.github.sonus21</groupId>
		<artifactId>rqueue-spring-boot-start

[2020-07-12 03:09] sonus21 commented on #25
Hi Chlegou
Can you please add `@EnableCaching(proxyTargetClass = true)`  in in spring boot app?

[code]

Generally this should be able to fix the issue. Please share a sample app incase this could not fix your issue.

[2020-07-13 13:56] chlegou commented on #25
following the changes you have suggested, i have tried that and what runs the project was`@EnableAsync(proxyTargetClass = true)` (`@EnableCaching(proxyTargetClass = true)` didn't worked for me, was throwing the same error.).

The app is running, but it's throwing another error that i couldn't fix. here is the error i'm receiving:

	java.lang.IllegalAccessError: failed to access class com.github.so

[2020-07-13 15:24] sonus21 commented on #25
As an Immediate fix, you can disable devtools restart using `spring.devtools.restart.enabled=false` Please share a sample app where it can be reproduced easily.

[2020-07-13 16:32] chlegou commented on #25
I have created the sample app: https://github.com/chlegou/jhipster-rqueue
...Just to tell, `@EnableAsync(proxyTargetClass = true)` is set in [ this config class]( https://github.com/chlegou/jhipster-rqueue/blob/master/src/main/java/com/chlegou/demos/rqueue/config/AsyncConfiguration.java)
by default, it's set to `@EnableAsync`

btw, i have also tested `spring.devtools.restart.enabled=false` before

[2020-07-13 18:35] sonus21 commented on #25
Thank you so much for providing simple app for debugging. I have released a fix, please use version 2.0.2-RELEASE, let me know if you are facing any other issue with Rqueue.

[2020-07-13 18:46] chlegou commented on #25
version 2.0.2-RELEASE isn't available in maven, could you please add it?
link: https://mvnrepository.com/artifact/com.github.sonus21/rqueue-spring-boot-starter

[2020-07-13 18:48] sonus21 commented on #25
It will take time to reach there but it should be available to download can be verified at https://repo1.maven.org/maven2/com/github/sonus21/rqueue-spring-boot-starter.

[2020-07-13 19:57] chlegou commented on #25
i was able to run test the project with the new release you have created. the app is working finally! :)
With or without `(proxyTargetClass = true)` in `@EnableAsync`, the project is running.

talking now about performance, i have tested the app with the default `1` second timespan as i set it in the sample app i provided:

<img src="https://i.ibb.co/ChgCByr/image.png"/>

it's obvious that many me

[2020-07-14 01:46] sonus21 commented on #25
You're running tasks using Async task executor, so the execution results might come later, since all are getting queued.

It's guaranteed that each job would be executed successfully, you can verify the same by removing Async annotation from listener methods, though you don't need Async annotation since one dedicated thread is used for the listener's method execution.

To verify this you can add a

[2020-07-14 08:37] chlegou commented on #25
ah i see, i have added the `@Async` annotation before desperate to make it work. i forgot about removing it.

i will test again without it, and let you know.

Thanks again for pointing it to me.

[2020-07-14 09:33] chlegou commented on #25
i have removed the `@Async` annotation and tested it out, also, augmented the pool executor size, but still not working as expected. i have made a push to the project, please review the configuration and help me to get the best config. feel free to create a pull request with minimal configuration.
link: https://github.com/chlegou/jhipster-rqueue

i have simplified the logs, and even if i schedule

[2020-07-14 14:48] sonus21 commented on #25
I tried for 69 messages and all of them had successful execution.

Here's the patch to verify https://pastebin.com/UZ2DzAQg

<img width="778" alt="Screenshot 2020-07-14 at 8 06 16 PM" src="https://user-images.githubusercontent.com/11817278/87438967-d219c480-c60d-11ea-8291-750f624f137a.png">

<img width="1288" alt="Screenshot 2020-07-14 at 8 06 20 PM" src="https://user-images.githubusercontent.com/

[2020-07-14 16:44] chlegou commented on #25
ok, have you get all echo messages in console? because sometimes it wasn't written there.

could you please provide the source code with the changes you have made?

[2020-07-14 17:17] sonus21 commented on #25
I didn't go through all the logs, but I have added code to verify if it's working or not.

Please find the updated code at https://github.com/sonus21/jhipster-rqueue/tree/demo

[2020-07-16 17:04] chlegou commented on #25
hi, as i'm working on the integration, the alpha tests are promising so far. the RQueue is working as expected so far. :)
i will keep you updated after running the beta tests.

i have a question: (i know that this thread is for bug tracking, i'm ok to move my question to stackoverflow if wanted)
-  is there a way to see if a message object with `id: 124` (having the property id) is queued already

[2020-07-16 17:59] sonus21 commented on #25
No, currently there's no way to identify this. As you said you can implement this easily by making a lookup in the listener.
The reason this is not implemented is some of the users might be interesting in using `id` fields to uniquely identify the message while others user might be considering one or more fields to uniquely identify the message. Also we need to consider whether the new message sho

[2020-07-16 18:54] chlegou commented on #25
Well, scheduling with a unique tag, would discard old messages having same tag. so we're always talking about a single message.

could you provide an example of it? i didn't understand how to implement it.

i might go with the lookup in the listener, as it seems to be the most easy and logical as it's related to the app logic not to the rqueue library. and from the listener i chose what code i nee

[2020-07-17 02:53] sonus21 commented on #25
This looks to be promising, what about the execution time? For example Message `M1` having tag `t` was scheduled at `5:20AM` to run in `10 minutest` that's 5:30AM, at time 5:25AM we need to update message `M1` with new data but it will have same tag `t`, as per the application logic the code would just enqueue the message to run in `10 minutes`, so now new execution time would be `5:35AM`, which s

[2020-07-17 08:52] chlegou commented on #25
Well in our case, i believe that the most logical use case is **Cancel the existing chain and REPLACE it with the new one**.
This means,   if we post a message `M1` with unique tag `M_USER_BOB_TAG` at `05:20` and needs to run in `05:30` (after 10 minutes).  and in `05:25` we decided to queue a new message `M2` with the same unique tag `M_USER_BOB_TAG`. since there's a message queued already, we re

[2020-07-17 09:39] sonus21 opened #27 "Message Deduplication"
is there a way to see if a message object with `id: 124` (having the property id) is queued already or not? ideally, a queued message should have a unique tag that helps filtering queued messages for uniqueness and return a message status (... i'm inspired by [Android Work Manager](https://developer.android.com/topic/libraries/architecture/workmanager) ). ...If this isn't implemented already in RQ

[2020-07-17 09:42] sonus21 commented on #25
I have created another [ticket](https://github.com/sonus21/rqueue/issues/27) for this, let's track this over there.  I'm happy to accept a PR.

[2020-07-17 09:42] #25 closed

[2020-07-17 09:43] sonus21 commented on #27
No, currently there's no way to identify this. As you said you can implement this easily by making a lookup in the listener.
The reason this is not implemented is some of the users might be interesting in using `id` fields to uniquely identify the message while others user might be considering one or more fields to uniquely identify the message. Also we need to consider whether the new message sho

[2020-07-17 09:44] sonus21 commented on #27
Well, scheduling with a unique tag, would discard old messages having same tag. so we're always talking about a single message. In Android workmanager, there's 2 concepts: unique tags and normal tags. messages could have many identification tags, but unique messages are having a unique tag and unique message in the queue.

could you provide an example of it? i didn't understand how to implement it

[2020-07-17 09:45] sonus21 commented on #27
This looks to be promising, what about the execution time? For example Message `M1` having tag `t` was scheduled at `5:20AM` to run in `10 minutest` that's 5:30AM, at time 5:25AM we need to update message `M1` with new data but it will have same tag `t`, as per the application logic the code would just enqueue the message to run in `10 minutes`, so now new execution time would be `5:35AM`, which s

[2020-07-17 09:46] sonus21 commented on #27
Well in our case, i believe that the most logical use case is **Cancel the existing chain and REPLACE it with the new one**.
This means,   if we post a message `M1` with unique tag `M_USER_BOB_TAG` at `05:20` and needs to run in `05:30` (after 10 minutes).  and in `05:25` we decided to queue a new message `M2` with the same unique tag `M_USER_BOB_TAG`. since there's a message queued already, we re

[2020-07-17 11:01] chlegou commented on #27
it's great that you moved it to a new thread :)

[2020-07-28 18:45] karthikpadev opened #29 "Can you add a sample for Dead Letter Queue Scenario"
**Failed messages are dead after retry**
I have retry as 1-3 and throwing runtime exception for few messages to check failure scenario.
When message reaches retry limit, I can see log showing moved to the configured dead letter queue of my delay queue.
But messages are not moved

To Summarize, the dead messages are not reaching their listener method

[2020-07-28 21:02] chlegou opened #30 "Dashboard resources aren't accessible from gateway"
Hi again :)

I have noticed that the rqueue dashboard isn't accessible from a gateway of a microservice architecture server.

**How to Reproduce**

i have checked the source code of the dashboard template, and it looks like the href links (css + js files) are static to direct endpoint. [See here. ](https://github.com/sonus21/rqueue/blob/master/rqueue/src/main/resources/templates/rqueue/base.html)

[2020-07-29 03:35] sonus21 commented on #30
Will fix this, allow me some time. You can raise as you know where to make this changes. I believe dashboard links are not working and static media can't be downloaded.

[2020-07-29 03:39] sonus21 commented on #29
This is little bit confusing to me, this is the expected behaviour not? When a message reaches it's  retry limit than your listener method won't be called.

Let me know if I have misunderstood anything.

See this test
https://github.com/sonus21/rqueue/blob/master/rqueue-spring-boot-starter/src/test/java/com/github/sonus21/rqueue/spring/boot/tests/integration/ApplicationTest.java#L48

[2020-07-29 04:04] sonus21 commented on #30
We need to make other changes as well, it's not only base.html, js files needs to be changed as well.

[2020-07-29 06:07] karthikpadev commented on #29
Yes, the expected behavior is, once the retry limit is reached, the message to be discarded.
But when a dead letter queue is configured for this, the message should not be just discarded,
it should be moved to its dead letter queue.

Currently it is not happening.

@RqueueListener(value = "delay-queue", numRetries = "1", deadLetterQueue = "dead-queue", concurrency = "10-100")
  public void delayMe

[2020-07-29 06:17] sonus21 commented on #29
Hmm, this is not supported. Messages are moved to dead letter queue but they can not be consumed using other listener.

[2020-07-29 07:12] karthikpadev commented on #29
Thanks

For now, is there a way to process dead messages.
e.g : Sending a mail saying "A message died in delay-queue"

[2020-07-29 09:09] sonus21 commented on #29
yes, that can be done. you can register dead letter callback handler that can do whatever you want,
See wiki
https://github.com/sonus21/rqueue/wiki/Callback-Events

[2020-07-30 18:03] chlegou commented on #30
sure, take your time :)

if the problem is related to js + css files **only**, i recommend loading them from any trusted CDN.

...Just testing something right now, **(again, if the problem is related to js + css files only)**, i was able to reach resource files from the gateway with this direct link (example):

    http://localhost:8000/services/rqueue-service/rqueue/vendor/jquery/jquery.min.js

l

[2020-07-31 02:11] sonus21 commented on #30
Thanks for the information,

I'm hesitate to ask, why do you think deleting /rqueue would work? `/rqueue/<xyz.css/js/*>` files are directly linked to `public/rqueue` resource directory. If we delete then it will have problem finding css/js/image files.

Don't we have to map API urls?

Also, please let me know how did you setup this entire flow, I can try, I was checking Eureka but that does not go

[2020-07-31 04:00] chlegou commented on #30
There's a difference between them, relative and absolute paths. Quoting from [Here](https://stackoverflow.com/a/10659501/4771750):

Also from [Mozilla Docs :: Linking to relative URLs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a):

	<a href="//example.com">Scheme-relative URL</a> // refer to a url, so the browser will automatically map HTTP and HTTPS protocol
	<a href="/en-US/docs/

[2020-07-31 05:41] sonus21 commented on #30
Just tried, it's not working for home page.
![image](https://user-images.githubusercontent.com/11817278/89003810-5cf10380-d31e-11ea-8e61-8e65a802ab52.png)

<img width="1680" alt="Screenshot 2020-07-31 at 11 09 14 AM" src="https://user-images.githubusercontent.com/11817278/89003840-7003d380-d31e-11ea-9ac1-dce10d858c6a.png">

[2020-07-31 06:04] sonus21 commented on #30
Do you think, is it possible for you to setup url prefix in the rqueue app via spring configuration file?
You would just need to do

`rqueue.web.url.prefix=/rqueue-service/
`
Yaml

[code]

This works fine, if I make changes in the code.

[2020-08-01 01:22] chlegou commented on #30
Have you looked into network? To see the url that the browser used? And yes, try removing the / only to see if it works.

For rqueue.web.url.prefix, we will let it as alternative. in theory, this could be done by just having the right url pattern and setup.

[2020-08-01 02:07] sonus21 commented on #30
No, it's not working.

It's not working on home page since when we are on  http://localhost:8080/rqueue, we refer static files on this page than it's using http://localhost:8080/vendor/js/.... and that's correct as per relative path theory.

Now if you are on another page http://localhost:8080/rqueue/pending, static files now will refer to http://localhost:8080/rqueue/vendor/js/....

As you can se

[2020-08-01 04:08] sonus21 commented on #29
Hi  Karthik,
The code has been updated to handle your case, please see wiki.

Released  version: 2.0.3-RELEASE.

[2020-08-01 04:09] sonus21 commented on #30
Hi Chlegou
Fix is released available at release version 2.0.3-RELEASE.

Thanks.

[2020-08-01 09:16] chlegou commented on #30
Ok thanks for the clarification, I will test it out and let you know.

...And yes, thinking of SPA would be a better approach. Also, adding an authentication to it would be a good idea I think...

[2020-08-01 09:50] sonus21 commented on #30
Authentication is not added here, since people might have different types of authentication in the place and they can just place this /rqueue/** in the same group, you can use oauth as well, that could be very simple using Spring security.

Though I'm working on new Rqueue Broker that will have authentication since that would be running as a standalone application. https://github.com/sonus21/rqueu

[2020-08-01 10:48] chlegou commented on #30
personally, I would prefer rqueue to be a standalone SPA.

[2020-08-01 11:12] chlegou commented on #30
I started testing the version `2.0.3-RELEASE`, when running the app,  i have seen this error:

    2020-08-01 11:53:09.364 ERROR 16252 --- [fication-task-2] .a.i.SimpleAsyncUncaughtExceptionHandler : Unexpected exception occurred invoking async method: public void com.github.sonus21.rqueue.web.service.impl.RqueueSystemManagerServiceImpl.onApplicationEvent(com.github.sonus21.rqueue.models.event.Rqu

[2020-08-01 12:13] sonus21 commented on #30
Thanks for pointing this out, this bug was introduced while fixing #29 :(

IMO by just using `x-forwarded-prefix` header, we can solve the url issue.

[2020-08-01 13:48] sonus21 commented on #30
Sorry, for my last release that's not working.
Can you please try 2.0.4-RC?

Rqueue should be accessible from MS and Gateway as well.

Once you confirm, it's working fine than I'll make a release.

[2020-08-01 20:42] chlegou commented on #30
Yes it's working on local! :D even without setting the `rqueue.web.url.prefix`.
how you fixed it?

[2020-08-02 05:37] sonus21 commented on #30
Thanks for the confirmation, I've released 2.0.4-RELEASE, you can upgrade your code to this version.

`x-forwarded-prefix` header is the key, we can use this key to identify any prefix.

[2020-08-02 05:48] #30 closed

[2020-08-02 05:50] sonus21 commented on #29
HI Karthik,
If you're still looking for this feature than you can use the latest release 2.0.3-RELEASE.

https://github.com/sonus21/rqueue/wiki/Producer-Consumer#dead-letter-queue-consumerlistener

Open this bug if you need any more details.

[2020-08-02 05:50] #29 closed

[2020-08-11 08:05] yuluo-zy opened #33 "Scheduled task cancellation"
when i use "enqueueAt" to add an task,what can we do to Cancel task

[2020-08-11 13:24] j0nathan33 opened #34 "Check version not working with proxy"
Hi,
Each time a go here : "http://localhost:8080/rqueue/queues", rqueue try to connect to github but It don't working because my enviromnent have proxy. It's possible to support proxy or have feature to disable check version.

Error is that : org.springframework.web.client.ResourceAccessException: I/O error on GET request for "https://api.github.com/repos/sonus21/rqueue/releases/latest": Connect t

[2020-08-11 14:44] sonus21 commented on #33
You can not cancel enqueued task now, you can delete it from dashboard.

[2020-08-11 14:47] sonus21 commented on #34
This error should not have any external affect apart from the simple log, are you seeing any error in HTTP response?

[2020-08-14 12:25] chlegou commented on #33
is there a way to remove all enqueued messages in queue? or in all queues?

[2020-08-14 12:26] chlegou commented on #33
@sonus21  wasn't it related to #27 ?

[2020-08-14 12:47] sonus21 commented on #33
You can delete all messages in a queue using
https://github.com/sonus21/rqueue/blob/a2f8de4d7d9ee05e65eea2275c1db1a82fdd78ab/rqueue-core/src/main/java/com/github/sonus21/rqueue/core/RqueueMessageSender.java#L347

There's currently no way to delete all queue messages, though you can implement one using `deleteAllMessages`.

#27  is more of like enqueue unique message in a queue, this will require a

[2020-08-14 20:16] chlegou commented on #33
i think they're complimentary. quoting from #27 :

 i believe these actions are all connected and required:
- fetching/canceling a message with an Id.
- fetching/canceling unique message by TAG,
- fetching/canceling messages with TAG.

[2020-08-15 05:37] sonus21 commented on #33
Message deduplication is the main concern for #27.

Current design can't support any of the features without duplicating the messages, Redis is not a RDBMS database, performing any additional operation requires having a key/value for the same.  Rqueue won't have a concept of TAG it will expose ID and the user will use the ID concept to enqueue unique message, that's upto the user to map TAG to id.

[2020-08-28 01:16] chlegou opened #36 "Microservice running Rqueue is greedy in disk space?!"
**Describe the bug**

from the integration of the rqueue library in a Microservice running in a docker container in a server, i noticed that the server is running out of storage consequently. Investigating the issue, i have found that docker containers are consuming all the server disk storage. i was thinking that the logs of all Microservices are the issue, but they wasn't!

Then I decided to reb

[2020-08-28 07:36] sonus21 commented on #36
Once again thanks  for reporting issue in Rqueue.

I'm also not sure what's going on here, I would need one small help from you for this bug, please see what's on that docker image? Could it be case that you have enabled logging and that dump lot of log data, Rqueue as such should not log so much data but if you have enabled debug level than this could be the case. If you find log level is debug t

[2020-08-28 12:51] chlegou commented on #36
ok, i will do that after a while, as i did cleared it 12 hours ago.
i will keep you updated ;)

[2020-08-29 03:41] sonus21 commented on #36
Here's the another thread, it's finding is also about log file. So it's most likely log file only.
https://www.digitalocean.com/community/questions/cannot-find-what-is-filling-up-disk-space-dev-vda1-is-100-full

[2020-08-29 18:34] chlegou commented on #36
I had the same idea also. from the moment i reduced the exceptions stack trace from the log, the disk storage became accepted.
since i'm updating the server concurrently, i can't confirm that the exceptions stack trace are the cause. also, i have reduced all unneeded logs.

for now, i will close the issue, If one day i saw something weird related to the MS used storage, i will let you know.

thank

[2020-08-29 18:34] #36 closed

[2020-08-30 01:04] sonus21 commented on #36
@chlegou  I would love to add your organisation name in the Readme file, if you're ok with that. This will just let others know really someone is using Rqueue in production and their scale  :)

https://github.com/sonus21/rqueue/#in-production

Thanks

[2020-08-30 08:25] chlegou commented on #36
I have plan for it, but my project is still in beta and not fully stable. I will do this, when I add more content to the website. :)

[2020-09-01 01:33] chlegou opened #37 "Enqueue a list of Objects in Rqueue"
**Describe the bug**

I have enqueued a `List<MyObject>` in rqueue which was successful, but i have got a CastException in the message executor `@RqueueListener` once the message is loaded from the database in the run method. Is it possible to enqueue a list of objects?

**How to Reproduce**

the enqueue method:

    rqueueMessageSender.enqueueIn(myQueue, Lists.newArrayList(MyObjectInstance), 1, T

[2020-09-01 02:05] sonus21 commented on #37
No this may not work always, so what I would say, you wrap your List<MyObject> into some class
e.g

[code]

[2020-09-01 02:14] sonus21 commented on #37
I'm taking my word back, it does work I just did a quick check. Can you share your pojo? Likely some deserialisation has failed.

[2020-09-01 03:18] chlegou commented on #37
i did used a wrapper class already :)
i asked just to clarify my thoughts. ;)
... Just a question, it's a limitation in what exactly? Spring boot or Redis? If the limitation is in objects cast mapping, have you tried using Google Gson library (it's really powerful in mapping big nested json string objects)?

 Thanks mate! :)

[2020-09-01 04:02] sonus21 commented on #37
It's limitation of Rqueue, as we've no idea about the target message unless we parse the actual message, due to java type erasure, List<Xyz> is equivalent to List, so that's why it worked  but what happens when you tried to some operation than casting failed.

I've made a change to accommodate list in enqueue, at the same  time application should not mix list and simple object to target.

See http

[2020-09-01 09:34] chlegou commented on #37
Did you tried parsing the objects with gson lib? It's powerful, and you could set the parameter type of list objects. I use it often instead of jakson which requires more work to do the same with less performance.

Thanks for accepting this.

[2020-09-01 12:33] sonu-zomato commented on #37
Can you try this by adding a custom message converter, I've tried using Jackson but that didn't work, you can register your own message converter.

[2020-09-01 17:34] sonus21 commented on #37
I didn't try but i'm not sure how gson can handle this without knowing the target class, you can add your message converter that should deserialize and serialize array  objects.

[2020-09-02 14:32] chlegou commented on #37
i suggested Gson, since it really doesn't need any configs to handle the target class structure. here is how to convert a json object string to instance :

    // getting a single object instance.
    MyObject myObjectInstance = new Gson().fromJson(objectData, MyObject.class);

    // getting a list of objects instance.
    List<MyObject > myObjectsList = new Gson().fromJson(listData, TypeToken.ge

[2020-09-02 17:30] sonus21 commented on #37
We store class name as meta data but List like data structure would require two information one for the list type and 2nd one for the item class.  We concatenate them to form a final class name,  In jackson we do something similar to Gson like

[code]

[2020-09-03 15:52] chlegou commented on #37
so you made it work?? 😃

[2020-09-03 16:06] chlegou opened #38 "graphs aren't rendering in mobile devices and in sometimes in desktop."
**Describe the bug**

the graphs aren't rendering in mobile and sometimes in desktops. I did a research about the issue, it's related to [the content policy](https://github.com/concordion/concordion/issues/151).

**How to Reproduce**

check if it's working in mobile device.

**Screenshots**

I'm attaching a screenshot i have got from a desktop.

![118773607_1159642171089574_3600466458216792452_n](

[2020-09-05 03:09] sonus21 commented on #37
Yes,
I think you missed the point, changelist https://github.com/sonus21/rqueue/commit/8703893479b82d10e2782a04d1dde5f2e70f5fb9 made it possible, you can try 2.1.0.RC to see if it's working for you or not.

[2020-09-05 03:09] #37 closed

[2020-09-05 09:19] chlegou commented on #37
Since you didn't referenced it here, I didn't noticed it. I will test it and let you know.

[2020-09-05 16:51] sonus21 commented on #37
@chlegou

[2020-09-05 17:11] chlegou commented on #37
ah i missed it! i just tested v2.1.0.RC and it seems working perfectly for lists of objects. well done! 😃

[2020-09-14 14:30] sonus21 commented on #38
Can you please use 2.1.0-RC.1 and see if things are working fine? If things are fine, I'll make a release asap.

[2020-09-15 06:03] kwlockwo commented on #24
I'm also having this issue.  Tried the advice given here: https://github.com/sonus21/rqueue/wiki/Producer-Consumer#rqueue-architecture
[code]
However it seems with spring boot auto configuration `RqueueMessageListenerContainer` is sitll created even for the producer only app.  This has the effect of running:

https://github.com/sonus21/rqueue/blob/master/rqueue-core/src/main/java/com/github/sonus2

[2020-09-15 17:13] chlegou commented on #38
hi, i just tested it out, it's the same. it's not fixed.

**How to test: **
Run a MS and access it from network address in mobile (make sure that firewall is off in your network). example:

    http://192.168.1.X:8000/rqueue  :::: 'X' is available by executing  "ipconfig" to get local IP address.

[2020-09-16 00:55] sonus21 commented on #38
Could you please share the console error message like previous one?

[2020-09-16 00:59] chlegou commented on #38
It's the exact same error message like the thread screenshot. For this I didn't copy it.

[2020-09-16 00:59] sonus21 commented on #24
@kwlockwo you're right it's deleting your registered queues. We would have to add some flag to say it's running in producer mode.

As a workaround you can autowired RqueueMessageListenerContainer  or use it in the constructor parameter, this will avoid deleting queues.

[2020-09-16 01:10] sonus21 commented on #38
It should not be exactly same, I've added CSP rules via https://github.com/sonus21/rqueue/pull/35/commits/0ea903bed1aa24da219a074f61b599dc68a053ad

Can you please try in incognito mode and share the screenshot?

If it's same please check page source code, it should have csp rules.

[2020-09-16 01:27] chlegou commented on #38
As I have told you, it' the same:

![image](https://user-images.githubusercontent.com/26279667/93281242-9f35ad80-f7c3-11ea-9f1e-15ec1afb2bf0.png)

looking for the changes you made, btw, the MS and gateway are having [these policies configuration in header](https://github.com/chlegou/jhipster-rqueue/blob/24686b1a8d61b1bf95db017bdf9c30041db1c523/src/main/java/com/chlegou/demos/rqueue/config/Security

[2020-09-16 01:50] sonus21 commented on #38
Rightly pointed this is the core issue, you're setting this despite there's a meta tag for the same. See by excluding rqueue/**.

[2020-09-16 01:50] chlegou commented on #38
I think i have fixed it! 😊 as i looked further for [MS content policy](https://github.com/chlegou/jhipster-rqueue/blob/24686b1a8d61b1bf95db017bdf9c30041db1c523/src/main/java/com/chlegou/demos/rqueue/config/SecurityConfiguration.java#L53) and the changes you made, i followed your pattern and applied the needed policies.

these are the changes i have made:

    -   .contentSecurityPolicy("default-sr

[2020-09-16 02:00] #38 closed

[2020-09-16 04:29] sonus21 commented on #34
A new version 2.1.0-RELEASE has been released. you can configure proxy with the following properties

`rqueue.net.proxy.host` : Host of the proxy server it could be ip as well
`rqueue.net.proxy.port` : Port for the proxy server default 8000
`rqueue.net.proxy.type` : proxy type DIRECT, SOCK and HTTP default is HTTP.

[2020-09-16 04:29] #34 closed

[2020-09-16 04:32] sonus21 commented on #33
A new version 2.1.0-RELEASE has been released, using that you can delete messages, also you can override the messages.

https://github.com/sonus21/rqueue/blob/master/rqueue-core/src/main/java/com/github/sonus21/rqueue/core/RqueueMessageManager.java#L141

[2020-09-16 04:32] #33 closed

[2020-09-16 04:32] sonus21 commented on #27
Version 2.1.0-RELEASE have addressed this.

[2020-09-16 04:32] #27 closed

[2020-09-17 11:24] chlegou commented on #27
Thanks, i will test it out.

[2020-09-24 06:53] meidea opened #42 "Eval is not supported in cluster environment"
https://github.com/sonus21/rqueue/blob/66e108d224c0edf0c4dfc6d22d554e354507d13a/rqueue-core/src/main/java/com/github/sonus21/rqueue/utils/RedisUtils.java#L74

spring data redis JedisClusterScriptingCommands not supported

`Caused by: org.springframework.dao.InvalidDataAccessApiUsageException: Eval is not supported in cluster environment.
	at org.springframework.data.redis.connection.jedis.JedisClu

[2020-09-24 06:56] meidea commented on #42
The keys command may be disabled

[2020-09-24 09:35] sonus21 commented on #42
Lettuce client should be used with Rqueue when Redis cluster is used.

Keys command can be disabled by setting `rqueue.db.version` in application.properties file
* rqueue.db.version=2 if your Rqueue first time from version2.X
* rqueue.db.version=1 if you are existing Rqueue user and upgrading to 2.X

[2020-09-24 09:38] meidea commented on #42
Thanks.

[2020-09-24 09:38] #42 closed

[2020-10-14 21:59] khashish opened #43 "Grouping message in the same queue"
**Is your feature request related to a problem? Please describe.**
Messages in the queue don’t have the option to have a group id to signal them for fifo execution

**Describe the solution you'd like
When enqueuing a message I should provide a message group id that would allow all messages in that queue with the same group id to execute in sequence while still allowing concurrency across different

[2020-10-15 02:45] sonus21 commented on #43
How many group ids do you expect?

There's an easiest way to solve if you have handful number of group ids, you can use group id as priority.

Use equal priority and concurrency=1

[code]

 You can also define groupIds in the application configuration

[code]

[2020-11-01 10:18] khashish commented on #43
@sonus21 Thanks for your reply.

The group ids are dynamic and not a predefined static list. Imagine that you are creating an online ordering service and you want to group the messages based on the order id allowing for messages related to the same order id to be enqueued in a FIFO manner while at the same time allowing messages across different order ids to be executed concurrently.

So if messag

[2020-11-02 02:16] sonus21 commented on #43
@khashish  Thanks for the detail.

This feature is quite complex to support, you can use sharding/partitioning concept to deal with this. For example in Kafka we create partitions, so we can create partition in similar fashion but we need to add application code to deal with partitioning.

You can use any hashing strategy to deal with this, for example a simple hashing strategy could be

`group id

[2020-11-02 02:53] lihongze opened #44 "What's not working?"
**Describe the bug**

My project is composed of a user-side module, a management-side module, and a public module. I created a mail entity class in the public module, and then put the mail entity into the queue on the management side, and then consume it. My client and management The end uses the same redis, and then there is a problem today. The mail entity message queued by the management end wa

[2020-11-02 03:01] lihongze commented on #44
and the serialization method of redis configuration on my client and management side is the same

[2020-11-02 03:11] sonus21 commented on #44
It seems there's some issue with the entries in the Redis LIST.   By any chance you had enqueued string then you have converted that to `EmailEntity` class, if you have done so then we need to ignore such entries as it can't be deserialised.  As error is being reported on Web side, can you check classpath for EmailEntity,  EmailEntity should be available on Web and Management end and both should h

[2020-11-02 03:17] lihongze commented on #44
The classpath is the same，and exception is from com.github.sonus21.rqueue.converter.GenericMessageConverter.fromMessage   method,here  return null

[2020-11-02 03:22] sonus21 commented on #44
Have you added any other message converter? This should not returns `null` unless data is invalid in Redis LIST.

[2020-11-02 03:31] lihongze commented on #44
What puzzles me is that the entities and methods of the queue are all in the public package. The user side and the management side use a set of tools, and the timing task that reported the error has not had similar problems before, but today the user side A large number of errors have been reported. I can see the content of the emailentity entity in the error message. There is no problem. It is in

[2020-11-02 03:40] lihongze commented on #44
The only difference is that the redis transaction is enabled in the redis config configuration of the management side. There has been a problem that the redis data read is empty due to the redis transaction before, but here is the log, the read redis list content is no problem

[2020-11-02 04:39] sonus21 commented on #44
Can you try to unmarshal json using com.github.sonus21.rqueue.converter.GenericMessageConverter.fromMessage?

[2020-11-02 04:48] sonus21 commented on #44
Redis transaction should not effect message conversion.

[2020-11-02 08:25] vking34 opened #45 "QueueDoesNotExist exception. How to setup Rqueue?"
**Describe the bug**

I just set up a simple demo with the following configurations for Rqueue. But i got the QueueDoesNotExist exception. How can I solve this problem? thank you.

**How to Reproduce**

[code]

[code]

[code]

And then i got an error:
[code]

**Library Dependencies**
[code]

[2020-11-02 08:57] sonus21 commented on #45
You can't schedule job at the time of bootstrap. You're trying to schedule tasks via PostConstruct, likely at that time queue is not registered, you should try to schedule job later once application has started.

[2020-11-02 09:19] vking34 commented on #45
@sonus21 you're right, sir. Thank you.

[2020-11-02 09:48] #45 closed

[2020-11-04 07:42] sonus21 commented on #43
There's one more issue left to solve here, due to[ competing listeners/consumers ](https://docs.microsoft.com/en-us/azure/architecture/patterns/competing-consumers) out of order execution can happen. To avoid this problem,  we should set only set of group ids aka priority in one listener and we should not run competing listeners. For example let's say I have 10 workers and 127 group ids, each work

[2020-11-05 12:05] Scoty opened #46 "Add my organisation in Rqueue Users"
# Organisation Name
Pokerstars (the Sportbook part - https://www.pokerstarssports.eu/). The company is now owned by Flutter(https://www.flutter.com/our-business/our-brands).

# Organisation link
https://www.pokerstarssports.eu/ or the mother company: https://www.flutter.com/

# Any Icon (optional)
https://pokerstarscareers.com/wp-content/uploads/2020/07/pokerstars-logo-dark.png

Or the one of the

[2020-11-05 13:00] sonus21 commented on #46
Thanks Anton :)
I've added your organisation name in the Readme file.

[2020-11-05 13:00] #46 closed

[2020-11-12 08:47] victory-wu opened #47 "Multiple @RqueueListener for a queue"
**Describe the bug**

You cannot use more than one rqueuelistener with the same name?

[code]

[2020-11-12 09:52] victory-wu opened #48 "rqueue not support LocalDate"
rqueue not support LocalDate

[code]

[2020-11-12 13:13] sonus21 commented on #47
Yes
It's not supported, why would you do that?

[2020-11-12 13:22] sonus21 commented on #48
Can you share you Message class details?

Try setting JsonFromat on that field, if it's still failing than follow this article https://costajlmpp.wordpress.com/2016/08/19/java-8-localdatetime-with-jackson-serialize-and-deserialize-example-restful-ws/

You can create custom serializer/deserializer and use that via Jackson annotation.

[2020-11-13 02:28] victory-wu commented on #47
example:  **user info change**

1: send mail to phone
2: update user info cache     ( If an exception occurs, other services can be executed normally )
3: the topic of this subscription other business

I think this is subscription service
Rqueue  = async multithreading

[code]

[2020-11-13 02:34] victory-wu commented on #48
**ObjectMapper in spring boot not used**

[code]

[2020-11-13 03:05] sonus21 commented on #48
That;s correct, Rqueue does not use ObjectMapper bean from application. It creates it's own, you can use your serializer to workaround this see
https://github.com/sonus21/rqueue/blob/66e108d224c0edf0c4dfc6d22d554e354507d13a/rqueue-core/src/main/java/com/github/sonus21/rqueue/config/SimpleRqueueListenerContainerFactory.java#L250

[2020-11-13 03:05] victory-wu opened #49 "@RqueueListener Generic results not support"
[code]

[code]

[code]

**ERROR:**
java.lang.ClassCastException: java.util.LinkedHashMap cannot be cast to com.wzx.server.entity.m.CustomerInfo

**analysis:**

It does not support generic parsing and is converted to LinkHashMap by default

[2020-11-13 03:12] sonus21 commented on #47
IIUC you're trying to attach more than one listener on a queue and you're expecting same message should be consumed by each consumer that's simply not possible as of now **queue does not feature like topic**.

You can't do this

Enqueue message `M1` to queue `q1` and you have attached multiple listeners `l1, l2 , l3, ...`  to queue `q`. In this case only one of your listeners would get the message

[2020-11-13 04:24] sonus21 commented on #49
yes that's a limitation. Would you mind providing a fix if you know? You need to change `GenericMessageConverter` class.

[2020-11-16 02:10] victory-wu commented on #49
no problem. i need to deal with other work recently.  u need to wait

[2020-11-16 14:09] sonus21 commented on #44
This does not seem to be a Rqueue bug, closing this one. Please reopen as you see.

[2020-11-16 14:09] #44 closed

[2020-11-27 07:05] yuluo-zy opened #51 "Periodic task add"
I think,
In some cases, the support of periodic tasks is required, and periodic tasks allow cancellation.
Hope to achieve this function.

Many thanks!!

[2020-11-27 13:58] sonus21 commented on #51
Hi Yuluo
Thanks for the request, In the  Spring bases apps tasks can be  scheduled using
 [Scheduled](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/scheduling/annotation/Scheduled.html). Are you trying to  do something else apart from running some job at some time or your use-case  can't be handled using Scheduled? It would be nice if you can provide some exa

[2020-11-27 14:24] yuluo-zy commented on #51
hi, sonus
Thank you for your question. In my use, I have some periodic emails,i need to dynamic increase this periodic emails to redis,Now I want to add a periodic task that needs to be decomposed into subtasks and added to the requeue through a time array.If I want to cancel all subtasks of this periodic task, I have to manually delete them one by one.Can you provide an api to meet the addition a

[2020-11-27 15:48] sonus21 commented on #51
Thanks for the explanation, sorry! I could not follow your example, what do you mean by

Let's assume you're scheduling tasks at 30 seconds interval.

IIUC, you're scheduling N tasks at `t, t+30, t+60, t+90 ... ` for some reason if you want to cancel this task then you manually delete all enqueued tasks related to this task.

Do you always delete all related tasks or only some of them?

Please pro

[2020-11-27 18:11] yuluo-zy commented on #51
ok, i use rqueue 2.0.4 ,so I have no way to delete the tasks in redis. i think this way to realize cyclic tasks.
this is my webapp
[code]
I use this api to accept periodic recurring tasks, it will accept a emailBean
[code]
In my processing function, I will add many tasks based on the start time, end time, and time interval

[code]

For example, a periodic task is  Send email every 12 hours, from N

[2020-11-28 13:14] sonus21 commented on #51
Why do you think so?

This is one of the easiest way to solve this problem. Other way could be you can use  MessageProcessor (this can be set in `SimpleRqueueListenerContainerFactory `via `setPreExecutionMessageProcessor`) that should return false for tasks those can be ignored.  Again here you can check `id` of the `EmailBean` to ignore such tasks.

[2020-11-28 13:35] yuluo-zy commented on #51
Because it will generate a lot of subtasks,and When I need to cancel, I need to rely on a third-party database.

My opinion is,`rqueueMessageSender.enqueueBycycle("delay-queue", emailBean, timeInterval);` ,When the task execution is completed, the task will re-enter zset,To achieve cyclic tasks.

If so, how can I achieve.

Thank you very much!

[2020-11-28 14:26] sonus21 commented on #51
Interesting, this can be achieved by setting `isPeriodic` and `interval` in `RqueueMessage`, but this leaves us  with lingering a question of retry and execution time.

For example

Task `t` was enqueued at `7:30:00PM` with period `30` seconds

* If execution of task `t` at `7:30:30PM` fails than it will be retried later at `7:30:30+PM` => this misses one event
* Success full execution of task `t`

[2020-12-01 16:01] sonus21 commented on #51
@yuluo-zy did this make sense or you would like to have such features in Rqueue?

[2020-12-01 16:06] yuluo-zy commented on #51
I am currently working on the source code,I want to achieve it,I initially considered whether to mark it as a cyclic task by adding attributes to RqueueMessage.

[2020-12-01 16:20] sonus21 commented on #51
Cool, let me know if you would like to see this feature in Rqueue, we would need to find some ways accurately find failure execution messages.

[2020-12-01 16:28] yuluo-zy commented on #51
I haven't finished reading the part of the code about the exception retry,but i think,If we enqueue message as soon the task is dequeued,By judging whether id is in zset.We can add without repeating.The retry after the task fails should not be related to the re-adding of the task.

[2020-12-01 16:46] sonus21 commented on #51
The problem here is we don;'t store  id in zset instead we store entire RqueueMessage in zset, this makes it a difficult soln.

[2020-12-04 09:00] vking34 opened #52 "How to guarantee that one message consumed exactly once?"
**Describe the bug**

I have 3 job queues. Jobs in the first queue create jobs in the second queue.
Even I assign numRetries to 0. But the second RqueueListener seems to consume one message twice?
How can I configure to guarantee that one message consumed exactly once?
Thank you.

**How to Reproduce**

[code]

**Screenshots**

![e3](https://user-images.githubusercontent.com/24644326/101142917-d391

[2020-12-04 09:28] sonus21 commented on #52
This looks to be very strange to me unless you have enqueued multiple similar Instance bid to the queue its should not have duplicate consumption, also time interval is quite small ~ 20Ms.

Can you see if by any-chance you're enqueueing multiple messages from different place for the same bid?

How frequently you're observing this issue?

[2020-12-04 17:35] sonus21 commented on #51
Hi
I have made changes to support periodic job via https://github.com/sonus21/rqueue/pull/50

Would you mind giving a  short, I can provide you a release candidate or snapshot.

[2020-12-05 04:44] yuluo-zy commented on #51
Thank you very much, I didn't expect you to complete it so well, again, this project is great!I can download the source code directly and use it!

[2020-12-05 06:45] sonus21 commented on #51
Please try and let me know, if something is breaking though I have tested using integration test.

[2020-12-06 16:40] sonus21 commented on #48
In latest version GenericMessageConverter can be created using custom objetMapper.

[2020-12-06 16:40] #48 closed

[2020-12-06 16:52] sonus21 commented on #51
Thanks for the request, this feature has been added in 2.2.0 and it should be available in maven central. Open new bug for any issue etc.

[2020-12-06 16:52] #51 closed

[2020-12-07 09:59] vking34 commented on #52
@sonus21 My apology. It's my misunderstanding. There are still remaining jobs (messages) in the queue from the previous execution.
I tried to delete all messages in a queue:
[code]
But I inspect that the messages were not removed.
How exactly can I delete all messages in a specific queue?
Thank you.

[2020-12-07 16:39] sonus21 commented on #52
That's the correct way to delete all messages, did this call return true/false? False means something was not correct.

[2020-12-16 07:47] vking34 commented on #52
Redis DB before deleting:
![g1](https://user-images.githubusercontent.com/24644326/102318980-cbbcb980-3fac-11eb-9809-5ab02b8bc9ae.png)

I am trying to delete messages from the beginning of execution.
[code]

Register the job queue:
[code]

Rqueue Configuration:
[code]

But after execution, the messages in redis DB were not deleted.
![g1](https://user-images.githubusercontent.com/24644326/102319494

[2020-12-16 08:13] sonus21 commented on #52
How do you know it's deleted or not? You should either check dashboard or redis keys to find that.

One small improvement to your code, you don't have to use `ScheduledExecutorService` to do something once Rqueue has started, you can do that using application event listener, you can listen to
https://github.com/sonus21/rqueue/blob/7044cb91d2dd41429d77183d523608caacebec28/rqueue-core/src/main/java/

[2020-12-16 08:35] vking34 commented on #52
Thank you for your improvement.

I use RDM (GUI for redis) to inspect keys in the DB. Even ```deleteAllMessages()``` return ```true```, but the keys are still remaining.
[code]

Did I configure Rqueue wrong?

[2020-12-16 09:35] sonus21 commented on #52
IIUC, you're looking at wrong redis keys, you should check `__rq::queue::flash-bid-bot-queue`,  `__rq::d-queue::flash-bid-bot-queue` and `__rq::d-queue::flash-bid-bot-queue` , these keys must not be either present or should be empty though if you've some background job than it might have some new entries. Also some entries can be added automatically due to failure in execution if you have enabled

[2020-12-16 09:44] sonus21 commented on #52
BTW m-datas are not deleted, this will be fixed in next upcoming released.

[2020-12-16 10:39] vking34 commented on #52
What is ```d-queue```, ```queue``` and ```m-mdata``` used for?
How can I deleted all namespaces?

[2020-12-16 10:42] sonus21 commented on #52
`d-queue` is a ZSET used for scheduled message
`queue` is a LIST used for simple message
`m-mdata` is used for message metadata

[2020-12-16 17:15] #52 closed

[2020-12-17 14:22] AlexMog opened #55 "Possibility to retrieve a job position in queue"
**Is your feature request related to a problem? Please describe.**
I need to have access to jobs position in the queue using their id and the queue current size

**Describe the solution you'd like**
It would be great to have methods to provide an efficient way to retrieve the current position of a job in the queue and the current size of the queue

**Describe alternatives you've considered**
I've

[2020-12-17 14:47] sonus21 commented on #55
Hi Alex
Why would like to know job position in the rqueue? There's no straight forward, it will be O(n) operation :(

[2020-12-17 15:16] AlexMog commented on #55
Hey Sonus,
I am using rqueue for user-provided content execution, so it's important for me to provide position feedback for the users so they can estimate the time that the task will take.
I'm aware that the most probable output will have O(n) complexity, but I can't find another way to provide this kind of feedback to the user !
(The user should be able to see "Current position: CURRENT_POS / QUE

[2020-12-17 15:50] sonus21 commented on #55
Are you enqueuing delayed job or simple job? For simple job we can try to get the position when the element was added in the queue.

[2020-12-17 15:53] AlexMog commented on #55
Simple jobs, it would be a nice start to have the position on add, but if you can add the retrieval of the position at any time, it would be event greater ^^

Thanks in each case !

[2020-12-17 16:10] sonus21 commented on #55
How accurate do you expect this data?

This data can not be accurate due to two reasons, you don't know about
* scheduled jobs or jobs those meant to retry later
* Jobs currently being processed

If you are fine with these inaccuracy you can try to get list size like it's done for metrics

https://github.com/sonus21/rqueue/blob/6ba371f5f9473bcdfc8c6e980cb80416b21f3562/rqueue-core/src/main/java/com

[2020-12-17 16:13] AlexMog commented on #55
It is not expected to be accurate, it's just to give an approximation for the users on their wait time :)

I'll try your solution, thanks !

[2020-12-18 02:27] AlexMog opened #56 "Job not restarting after restart of a worker (in a single-worker scenatio)"
**Describe the bug**

If you are using a single worker (I haven't tested this with multiple workers) and you cut your worker during a job execution and restart it, the worker will not retry the cutted job, the job will simply be forgotten compleately.

**How to Reproduce**

* Launch a worker
* Trigger a long job
* Cut the worker
* Restart the worker
* Nothing happens

In an ideal scenario, the job

[2020-12-18 02:54] sonus21 commented on #56
Thanks for reporting the bug, what did you mean by "Cut the worker" and "Restart the worker"? Worker would be started automatically unless I'm missing something. If you shutdown your application during execution than the said message would come back to queue once visibility timeout has expired.

[2020-12-18 02:57] sonus21 commented on #56
<img width="1668" alt="Screenshot 2020-12-18 at 8 27 08 AM" src="https://user-images.githubusercontent.com/11817278/102569095-d4c39d00-410a-11eb-89ad-cabcdab46647.png">

https://javadoc.io/doc/com.github.sonus21/rqueue-core/latest/com/github/sonus21/rqueue/annotation/RqueueListener.html

[2020-12-18 03:12] AlexMog commented on #56
Hello Sonus,
I have already played a little with the visibility timeout, but it seems to not work on my side (well, with a single-worker scenario anyway).

In my case, I am using Kubernetes, which restarts my pods containing my workers on new versions (its the intended workflow) and, when rebooted, event after the visibility timeout is expired, the job is never re-added to the queue, which means t

[2020-12-18 03:25] sonus21 commented on #56
That's strange, if you have dashboard access please check dashboard dashboard is available at host/rqueue, it does not require any authentication you're supposed to protect dashboard from evils.

If you don't have access to dashboard, please run these commands to see if entries exist in Redis.

`LRANGE __rq::queue::{<queueName>} 0 -1`
`ZRANGE __rq::d-queue::{<queueName>} 0 -1`
`ZRANGE __rq::p-queu

[2020-12-18 03:52] #55 closed

[2020-12-18 14:09] sonus21 commented on #56
This test  verifies this feature
https://github.com/sonus21/rqueue/blob/d74186f3f7ae80e38c24f188bd6310aa95886eba/rqueue-common-test/src/main/java/com/github/sonus21/rqueue/test/tests/RetryTests.java#L145

It only verifies for continuous polling not shutdown and boostrap

[2020-12-25 08:31] sonus21 commented on #56
Hi Alex
This does not seem to be a Rqueue bug, closing this. Please feel free to open this bug if you have more details or you can provide a reproducible code snippet.

[2020-12-25 08:31] #56 closed

[2021-01-21 16:59] chanmratekoko commented on #49
Hi, @sonus21

Do the generic results support now?

[2021-01-21 19:08] sonus21 commented on #49
Hi @chanmratekoko
No this does not support generic, supporting generating has issue in deserialisation process, so now you can not even enqueue generic object using Rqueue enqueuer.

Not quite supports there're some complexity with supporting generic object, in serialisation step  we need to track the generic information.

[GenericMessageConverter](https://github.com/sonus21/rqueue/blob/master/rqu

[2021-01-22 03:09] victory-wu commented on #49
@sonus21
Hi, long time no see,
I use Kafka now,

kafka + spring boot , It's easy to use

Multiple projects can be implemented alternately

Many rules supporting spring

I don't think you should be discouraged, But that's the reality

Continuing to maintain this project will waste you a lot of time

[code]

[2021-01-22 04:44] sonus21 commented on #49
@victory-wu not sure if your comment is related to other ticket https://github.com/sonus21/rqueue/issues/47

There're some limitation, give me some more time, I'm working on code to change it to use Redis Stream that's new data structure in Redis.

[2021-01-22 04:48] #49 closed

[2021-02-06 03:31] sonus21 commented on #47
@victory-wu  would you mind giving a try a new wip Rqueue, that can solve your problem?

[2021-02-12 06:25] sonus21 commented on #47
Rqueue 2.5.0 supports this feature, see this for usage

https://github.com/sonus21/rqueue/blob/master/rqueue-spring-common-test/src/main/java/com/github/sonus21/rqueue/test/UserBannedMessageListener.java

[2021-02-12 06:25] #47 closed

[2021-02-21 08:05] PolukovY opened #67 "Not all dependency added to the starter"
**Describe the bug**

When you add started not all dependency downloaded.

**How to Reproduce**

* Add dependency to pom.xml

[code]

* refresh dependency to load all needed libraries.
<a href="http://piccy.info/view3/14215525/cce864c0b87f271a500390fb2eaa5dd6/" target="_blank"><img src="http://i.piccy.info/i9/3a51c7382b02e9defe5f7c1225ad6721/1613893669/22002/1418447/Screen_Shot_2021_02_21_at_09_53

[2021-02-21 09:54] sonus21 commented on #67
You can get rid of EnableRqueue usage. You don't need this annotation in
spring boot based application.

On Sun, Feb 21, 2021, 1:35 PM PolukovY <notifications@github.com> wrote:

[2021-02-24 14:07] ValdasK opened #73 "Unable to pull 2.5.0 from maven central"
[code]

Could not find artifact com.github.sonus21:rqueue-spring-boot-starter:pom:2.5.0-RELEASE in central (https://repo.maven.apache.org/maven2)

2.4.0 seems to be last version working

[2021-02-24 14:16] sonus21 commented on #73
Oops, there seems to be some issue with sync in Sonatype.

Can you configure other repo source to https://repo1.maven.org/maven2 ?

They are currently uploaded here https://repo1.maven.org/maven2/com/github/sonus21/

[2021-02-24 14:16] ValdasK opened #74 "Dashboard does not work in Spring Boot"
Added dependency into Spring Boot 2.3.3.RELEASE
[code]
All configuration is set to default. Security is set to allow all paths without auth.

Visiting /rqueue provides me with 500 error + following stacktrace:

[code]

I already have controller which is handling `/` path; this might be an issue? I have also tried to add snipped from wiki regarding WebMvcConfigurer, but it had no effect.

[2021-02-24 14:18] sonus21 commented on #67
Closing this ticket, please open it if you encounter some issue with Rqueue.

[2021-02-24 14:18] #67 closed

[2021-02-24 15:08] sonus21 commented on #74
This is caused by jtwig,  one way could be downgrade asm-analysis to lower version and see if it's not breaking application. I'm observing following warning on boot 2.3.3.

[code]

[2021-02-26 03:35] sonus21 commented on #74
Hi Valdas
Can you please use a latest release candidate 2.6.1-RC and verify if things are working as expected? Once you confirm, I'll release this so you can use 2.6.1-RELEASE once you confirm the said issue is fixed.

[2021-02-26 03:39] sonus21 commented on #73
Can you please share more details about this error?

In maven central, I can find all repos

https://repo.maven.apache.org/maven2/com/github/sonus21/rqueue-spring-boot-starter/2.5.0-RELEASE/
https://repo.maven.apache.org/maven2/com/github/sonus21/rqueue-spring-boot-starter/2.6.0-RELEASE/
https://repo.maven.apache.org/maven2/com/github/sonus21/rqueue-spring-boot-starter/2.6.1-RC/

[2021-02-26 06:44] ValdasK commented on #74
It seems to be mostly working, but graphs aren't loading due to

[code]

It's not a deal-breaker, but something that you should know. I am using Firefox 85.

[2021-02-26 06:46] ValdasK commented on #73
For some reason 2.5.0 and 2.6.0 are missing POM files in repositories. 2.6.1-RC is working as it has it (https://repo.maven.apache.org/maven2/com/github/sonus21/rqueue-spring-boot-starter/2.6.1-RC/rqueue-spring-boot-starter-2.6.1-RC.pom); but those two other versions only have signatures but no actual file.

[2021-02-26 12:17] sonus21 commented on #74
Is it possible to build and install rqueue locally? `pebble-template` branch code that should fix this inline issue, apparently existing code work in Chrome but not in Firefox.

Otherwise, tomorrow I'll provide you the release candidate as nexus sonatype release is. not working.

[2021-02-27 14:40] sonus21 commented on #74
I've released a test version `2.6.1-RC.2`, please use this one and let me know if things are fine in this version.

[2021-03-01 06:37] ValdasK commented on #74
Yes, that seems to be working

[2021-03-01 12:03] sonus21 commented on #74
Thanks Valdas.

I've released 2.6.1-RELEASE, this should fix your issue. Feel free to open other issues if you encounter something is not working as expected.

[2021-03-01 12:03] #74 closed

[2021-03-01 12:08] sonus21 commented on #73
Sorry for trouble, there's no way to fix this issue from my side, only SonaType admin can fix this, I've raised this issue to SonaType nexus, https://issues.sonatype.org/browse/OSSRH-65018

Closing this ticket, as a new version 2.6.1-RELEASE  has been released.

[2021-03-01 12:08] #73 closed

[2021-03-04 22:17] vishnuprasad-84 opened #76 "unicast message"
I have an app with the RQ implementation. it is sucessfully able to post and consume from the Redis.
However If i scale up the consumer instances the same message is consumed by all consumers. I was reading through the Wiki on how to implement the unicast message handling. Any docs or samples on this ?

[2021-03-05 02:05] sonus21 commented on #76
IIUC, you do not want to consume message across all servers, in that you can mark a queue inactive in that box, if that's possible.

[2021-03-21 08:31] denisRu92 opened #77 "Producer Consumer with 2 different projects"
I am trying to create a Producer Consumer with 2 different project, In my Producer project i am using RqueueEndpointManager with the method registerQueue to register to a queue with the name 'test' and then i am using RqueueMessageEnqueuer with the method enqueue to write a message to the same queue but for some reason i am getting the error that the queue does not exists

my code:

@Log4j2
@Servi

[2021-03-21 09:55] sonus21 commented on #77
Soln for 1st problem

* Add an application event listener for https://github.com/sonus21/rqueue/blob/master/rqueue-core/src/main/java/com/github/sonus21/rqueue/models/event/RqueueBootstrapEvent.java
* Once this event is received, you should register queue and it will work without any issue

For 2nd problem, likely it's unable to communicate with github.com, you can disable this feature using appli

[2021-03-21 15:20] Harsha-changejar opened #78 "Unable to boot up the spring boot application due to UnsatisfiedDependencyException"
While booting up the spring boot application, getting this error

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'rqueueDashboardChartServiceImpl' defined in URL [jar:file:/Users/harshavardhan/.gradle/caches/modules-2/files-2.1/com.github.sonus21/rqueue-core/2.6.1-RELEASE/ca2d527d162f20ad9f4692faf2369ba92d05d23b/rqueue-core-2.6.1-RELEASE.

[2021-03-21 16:53] sonus21 commented on #78
Can you check your Redis configuration? As error says, it's unable to get Jedis connection, it seems to be some config issue. You can add a debugger to see why it's unable to get a connection from the pool

[2021-03-22 06:14] sonus21 commented on #77
Oh! I missed this, you can also set `rqueue.mode=PRODUCER` in producer application. This will not delete registered queue.

[2021-03-25 13:52] Harsha-changejar commented on #78
Hello, i have checked my jedis connection, the problem i have found is that, it works by default when we dont add any connection factory, howevr on adding any conenction factory like jedis in Config file, it shows this error.

Also, i wanted to check where is it that i can specific exponential retry and backoff time for a specific queue that is annotated with @RQlistener?

[2021-03-26 11:51] sonus21 commented on #77
I hope, you have solved the issue. Closing this ticket for now, please open this ticket as you see or create new one.

[2021-03-26 11:51] #77 closed

[2021-03-26 11:58] sonus21 commented on #78
Hi Harsha
Can you please share the `JedisConectionFactory` initialisation step or sample code? I've a test that adds LettuceConnectionFactory, and that works fine.

Backoff is global as of now, you can't configure backoff per queue.  In factory you just need to set backoff.

See example here
https://github.com/sonus21/rqueue/blob/d44e94db55bafe766edb33e1db5f530acfedbeff/rqueue-spring-common-test/s

[2021-04-07 01:38] sonus21 commented on #76
@vishnuprasad-84 I hope you have solved this issue. Closing this issue, please feel free to open or create new one.

[2021-04-07 01:38] #76 closed

[2021-04-23 13:04] sonus21 commented on #78
Hi @Harsha-changejar
This does not seem to be a bug in the code, closing this for now, please open if you see any such issue.

[2021-04-23 13:04] #78 closed

[2021-04-28 11:55] OmarBish opened #85 "@EnableRqueue annotation isn't defined in 2.7.0"
**Bug Description**

this import statement return that the class isn't defined .
[code]

**How to Reproduce**

* make sure that you have 2.7.0 version pom.
[code]
* try to use `@EnableRqueue` annotation.

**Library Dependencies**
 - Spring Boot:
 - Spring Messaging:
 - Spring Data Redis:

[2021-04-28 11:57] sonus21 commented on #85
Hi Omar
You don't need this annotation in spring boot app.
You can just remove it.

Also, can you please share the details frome you got this reference?

On Wed, Apr 28, 2021, 5:25 PM Omar Bishtawi ***@***.***>
wrote:

[2021-04-28 14:21] j0nathan33 opened #86 "Too many queue and rqueue don't working anymore"
**Describe the bug**
Presently in production, we have 72 queue. I add 73 queue today and rqueue don't working anymore. If I remove last one, rqueue function normally.

**How to Reproduce**
Add 73 queue and try it.

**Library Dependencies**
 - Spring Boot: 2.4.4
 - Spring Messaging: 5.3.5
 - Spring Data Redis: 2.4.6

**Additional Details**
I try on windows and docker and It have same problem.
I che

[2021-04-28 14:34] sonus21 commented on #86
OMG! Why do you need 72 queues on one machine? I think it's having starvation issue, can you please add debugger in the

https://github.com/sonus21/rqueue/blob/fa5d51f6ee0b7f8837240f777d562381371f0808/rqueue-core/src/main/java/com/github/sonus21/rqueue/listener/DefaultRqueuePoller.java#L60

[2021-04-28 14:37] sonus21 commented on #86
The other to way solve this problem is run Rqueue on sub set of queues and you've multiple clusters for this something like this

Cluster 1 => [Q1, Q2, Q3, ... Q20 ]
Cluster 2 => [Q21, Q22, ..., Q40]
Cluster 3 => [Q41, Q42, ..., Q60]
Clustern 4 => [Q61, Q62, .. Q80]

Etc,  you can use activate=false flag to disable/enable in respective clusters.

[2021-04-28 14:42] sonus21 commented on #85
#67

[2021-04-28 14:42] #85 closed

[2021-04-28 15:30] sonus21 commented on #86
If you think 73 queues can be handled by one system then you can try to group these queues using `prirorityGroup` and `priority` field.

Read more details here https://github.com/sonus21/rqueue/wiki/Queue-Priority

[2021-04-28 15:32] sonus21 commented on #86
@j0nathan33  I would love to hear your feedback about Rqueue, if you have got some time please provide your feedback here.

[Feedback](https://github.com/sonus21/rqueue/issues/new?assignees=sonus21&labels=rqueue-user&template=i-m-using-rqueue.md&title=Add+my+organisation+in+Rqueue+Users)

[2021-04-29 02:22] sonus21 commented on #86
Thanks for the update, do you know when Rqueue stops processing messages, any error around that time?
Are you exporting queue metrics into prometheus, if you so can you please share processing message queue statistics?

`processing.queue.size` : Currently being processed message count
`queue.size ` : Number of items waiting to be processed

You can group this data based on the instance info,  if y

[2021-04-29 07:52] OmarBish commented on #85
Hi Sonus21,
it's mistake from my side i didn't notice that their is no need to add it in spring boot app.

for your question I find the reference in  [spring-example](https://github.com/sonus21/rqueue/blob/fa5d51f6ee0b7f8837240f777d562381371f0808/rqueue-spring-example/src/main/java/rqueue/spring/example/AppConfig.java) ,i didn't notice that the example is for spring rather than spring boot ( new t

[2021-04-29 17:30] j0nathan33 commented on #86
I check in Kibana(logs) for last 4 months and It have 0 log for TaskRejectedException, org.springframework.scheduling.concurrent, java.util.concurrent, org.springframework.core.task and org.springframework.scheduling. In past when I see this problem, It have 0 logs. The only log I have, It's for start of spring.

For queue statistics, right now in prod, we don't have this metrics on prometheurs an

[2021-04-29 17:33] j0nathan33 commented on #86
I debug class DefaultRqueuePoller and I see CorePoolSize is too lower in ThreadPoolExecutor.execute . Locally, I change number to greater number for CorePoolSize and problem is solve.

[2021-04-29 17:37] sonus21 commented on #86
Did you set task executor or Rqueue's some bug  that had computed corePoolSize to be low?
As I explained above it's core pool size = queue count (73 in your case) and max pool size should be (3*73=219).

[2021-04-29 18:55] j0nathan33 commented on #86
Ah, I see problem in my case. I created new ThreadPoolTaskExecutor because I need to set taskDecorator and I can't set in default taskExecutor. Do you have idea for set taskDecorator in default taskExecutor? I can add new function for set value.

[2021-04-29 19:14] sonus21 commented on #86
What's your use-case for taskDecorator?  There're two types of tasks 1. Long Running Message Poller 2. Message Executor.

[2021-04-29 20:42] j0nathan33 commented on #86
I use task decorator for initialise session and transaction for db. After check my code, I can add annotation Transactional on each function with rqueue annotation.

[2021-04-30 02:53] sonus21 commented on #86
Yes, that's correct you can add `@Transactional ` on method or on class and this would work. You can also add other annotation like `@NewSpan` from sleuth and others.

[2021-04-30 11:39] sonus21 commented on #27
Hi @chlegou
It's a long time, I hope you're doing well.. How's Rqueue doing in production? I would love to get your [feedback](https://github.com/sonus21/rqueue/issues/new?assignees=sonus21&labels=rqueue-user&template=i-m-using-rqueue.md&title=Add+my+organisation+in+Rqueue+user+list)

[2021-04-30 14:50] chlegou commented on #27
Hi there, it's doing great, and running smoothly, but i think i'm not
running the latest version. The last time i worked on it, i remember i was
using a deprecated class, and when checking the docs, i have found that the
docs still having the same deprecated class.
Following the server/app history by consulting history log stacks. I have
found that Android is having many limitations and not respon

[2021-05-01 15:09] chlegou opened #88 "Add my organisation in Rqueue Users"
# Organisation Name

BitBot

# Organisation link

https://bitbot.plus/

# How many messages does Rqueue process daily?  (optional)

+100K

# How are you using Rqueue? (optional)

# Testimonials (optionals)

Good

# Icon/Logo

https://bitbot.plus/assets/images/img_protection_x512.png

[2021-05-03 08:09] Balaji001 opened #89 "Rqueue is not clearing out the messages even after they are subscribed successfully"
When I am publishing messages from one application and try to consume on another, they are not clearing in the queue, still in running stage and scheduled to run after 15 mins. The process is repeating.

The messages are clearing if I publish and consume on same application.

In the producer application. I have added below properties and registering queues on startup.

    rqueue.scheduler.enabled

[2021-05-03 10:02] sonus21 commented on #89
Hi Balaji
Thanks for reporting this issue, this should never happen...

In consumer/producer web dashboard,  please check scheduled message and it's failed count, failed count should be zero,  also check processing messages.

Also, please share consumer configuration.

[2021-05-04 12:25] OmarBish opened #90 "Listeners are running at lower concurrency than the configured concurrency"
## **Describe the bug**
I'm doing some tests with rqueue and want to test how many concurrent jobs our server can handle.
Currently, I have two queues that are having these configs
[code]
but the number of concurrent jobs always throttle at two regardless of the concurrency value that I set.
I noticed that the server create 10 different consumers to handle the jobs successful and but it will alway

[2021-05-04 14:12] sonus21 commented on #90
Hi Omar
Thanks for reporting this issue, 2 is the default concurrency, can you please try latest Rqueue version 2.7.0 and report this here if issue persist.

Also, you have set concurrency to 10-20, so it should scale this to 20 workers.

Also, you can add a debugger here to check why this is not polling upto 20 messages https://github.com/sonus21/rqueue/blob/ab2cbf6ee17ad122a638b66f7d551f15249695

[2021-05-04 14:23] sonus21 commented on #86
Hi @j0nathan33
I hope there's no bug as such, please check if you can do this

Thanks

[2021-05-04 14:23] #86 closed

[2021-05-05 08:06] OmarBish commented on #90
Hi Sonus,
 I already use V 2.7.0 .I will try to debug the app from the point you mentioned and get back to you regarding it.
 for now here is a copy of my pom.xml dependency
[code]
and here is the output of `java -showversion` command
[code]

[2021-05-06 16:01] sonus21 commented on #90
Hi Omar
Did you get a chance to validate semaphore counter?
That's very critical for debugging.
On Tue, May 4, 2021, 5:55 PM Omar Bishtawi ***@***.***> wrote:

[2021-05-07 03:11] sonus21 commented on #89
@Balaji001 can you please update me on this, otherwise I'll assume there's  no bug and I'll close the issue.

[2021-05-09 08:42] sonus21 commented on #89
Thanks for the clarification, please migrate to latest version 2.7.0, tons of new features.

[2021-05-09 08:42] #89 closed

[2021-05-09 11:45] OmarBish commented on #90
Hi Sonus,
I tried to remove the bounding and set it to 20 without a lower bound .
I still have only two working consumers (consumer 1 & 2) .
I tried to debug the semaphore state and queueThreads size. the state was set to 20 and the queueThreadSize is always 0 or 1 or 2 . I tried to trace it back to why this thing happens but wasn't able to pinout the problem.

in one case while debugging there wa

[2021-05-09 13:18] sonus21 commented on #90
Hi Omar
If I understand correctly, you observed Rqueue is processing only 2 jobs once and you can't replicate this issue as now it's processing 20 jobs at a time?

On my machine, its processing ~20 jobs always and I have enqueued 1 million jobs.

Btw what do you mean by this line?

[2021-05-09 14:09] sonus21 commented on #90
Anyway, I've a theory that could potentially explain why this happens, your job is taking sub milli seconds to process(since it does nothing, if you add some work like sleep or some http call that takes time you can see the effect),  around similar time is taken by message poller to poll the message.
So what's happening now is the time message  poller takes to poll a message ~ the time your listen

[2021-05-10 12:55] j0nathan33 commented on #86
It's ok :). I fix it last week :)

[2021-05-16 14:40] sonus21 commented on #90
Hi @OmarBish
Would you  like to give a try to a new release candidate? You can also deploy to local maven to see if things are working as expected, branch https://github.com/sonus21/rqueue/tree/pause-unpause

[2021-05-17 13:34] OmarBish commented on #90
Hi @sonus21 ,
I also did some more testing and it turned out as you mentioned
the result of my tests were as follow:
- with thread sleep of 20 ms i have 2 concurrent threads
- with thread sleep of 200 ms i have 5-6 concurrent threads
- with thread sleep of 2000 ms i have the full capacity of the pool (20 thread)

I will run the test that you send and give you the results . also i will test the new

[2021-05-21 03:42] sonus21 commented on #90
Hi Omar
There's a bug in the code, so you need to try the latest code from pause-unpause branch. BatchSize was ignore and it's using default value(10).

Let me know the performance metrics, one thing I've observed on my system is it runs out of connection with local redis, so I get many errors and many jobs goes for retry. Not sure about your setup so I can't comment, how it's able to cope with th

[2021-05-24 10:25] hieudaik145 opened #92 "Cannot dynamic active(true/false) @RqueueListener"
**Is your feature request related to a problem? Please describe.**
I cannot flexible set active of @RqueueListener from end-user. I just able to set it from code is active (true/false)

**Additional context**
Suppose, I have task 1 done that takes about 5 hours (The time limit to complete is dynamic. And I can only know when it will be completed). I would expect the @RqueueListener to not execute

[2021-05-25 07:01] sonus21 commented on #92
Hi Hieu
Thanks for requesting for this feature,  I'm not quite sure about the use case,  can you please more details about the use case?

[2021-05-25 09:35] hieudaik145 commented on #92
Hi Sonus, thanks for watching my problem,

`@RqueueListener(value = "${queue.dqs.check-record.name}", active = "false")
    public void onMessage(DqsJobRequest jobRequest) {
    }`

1. I have declared a method to subscribe to my message as above, And sometimes I want to set **active** = false or true and I can't do it dynamically change it after building the project to war file and deploy it.

2.

[2021-05-25 09:57] sonus21 commented on #92
Exactly, it can't be changed like this. Why would you do that?

[2021-05-25 10:16] sonus21 commented on #92
I'm working on an enhancement as well to pause/unpause queue, it's due to release this weekend. https://github.com/sonus21/rqueue/projects/3#card-59002043
Let me know if you're looking for this feature.

[2021-05-25 13:01] hieudaik145 commented on #92
This is exactly the feature I was looking for.
Hope it will be released soon.

[2021-06-08 02:30] sonus21 commented on #92
@hieudaik145
Version 2.8.0 has been released, please download that.

[2021-06-08 02:30] #92 closed

[2021-06-08 02:31] sonus21 commented on #90
One improved version 2.8.0 has been released to fix this issue at some extent.

[2021-06-08 02:31] #90 closed

[2021-06-09 03:37] #88 closed

[2021-06-24 14:07] Vamsik118 opened #94 "Message Listener lag is too high"

[2021-06-24 15:00] sonus21 commented on #94
@Vamsik118 What's this issue about?

[2021-06-24 15:36] Vamsik118 commented on #94
our messages are getting delayed so long how can we make them process fast

[2021-06-24 16:39] sonus21 commented on #94
how much delay is there? Did you try to increase the concurrency and add more listeners?

[2021-06-25 12:43] Vamsik118 commented on #94
We send more than 1lack messages and we use concurrence 30

And can you explain about listernes

We are getting more than 5 hr delay

[2021-06-25 18:29] sonus21 commented on #94
5 hours delay is too high, it seems your listener takes quite large time to process one message.

Please consider these things,

* Add more machines/servers to process messages
* upgrade code to latest version 2.8.0

[2021-06-30 04:12] sonus21 commented on #94
Closing this bug as nothing to do from Rqueue side, it's more of listener issue. If you feel something is not working due to Rqueue please reopen/create new issue.
Thanks

[2021-06-30 04:12] #94 closed

[2021-07-03 21:10] OmarBish opened #95 "RedisCommandExecutionException : RedisCommandExecutionException : command arguments must be strings or integers"
**What's not working?**
the connection keeps getting lost suddenly after a while when 10 threads are running concurrently ( the fail time is faster if we have more threads). the weird thing is after the connection is established again most of the jobs fail with a Redis error that says `command arguments must be strings or integers `.
[code]
for full log:
https://pastebin.com/WGp5H5Ed

**What're ap

[2021-07-04 04:45] sonus21 commented on #95
This is something to do with Redis connection pool and their usage from spring-boot-data-redis. I've also observed similar error on local machine, not quite sure why it happens. Let this bug be here as it does not impact production, if it does I'll debug and find it out.

[2021-07-11 11:37] denisRu92 opened #98 "rqueue Producer Consumer Deserialization problem"
**What's not working?**
I am trying to create a  Producer Consumer  with 2 different projects and in the Consumer project i am getting a Deserialization of message error

**What're application dependencies ?**
- Rqueue Version: 2.8.0-RELEASE
 - Spring Boot  Version:  2.3.4.RELEASE
 - Spring Messaging Version :5.2.9.RELEASE
 - Spring Data Redis Version :2.3.4..RELEASE

**How to Reproduce (optional)

[2021-07-12 02:40] sonus21 commented on #98
@denisRu92
If I'm not wrong, you should be getting class not found error. Can you please create a common package/library and share that between producer and consumer?

[2021-07-16 09:26] patkinson01 opened #99 "Option to add dashboard path prefix using rqueue.web.url.prefix config"
rqueue.web.url.prefix config option looks to have partially been removed in v2.7.0
Commit: https://github.com/sonus21/rqueue/pull/81/commits/c96d816302de13580bda45a292d90103859748da

It's been removed from:
rqueue-core/src/main/java/com/github/sonus21/rqueue/config/RqueueWebConfig.java
rqueue-spring-boot-example/src/main/resources/application.properties

but left in the view controller and referen

[2021-07-19 05:51] sonus21 commented on #99
This is not an accidental removal, now it relies on additional HTTP header `x-forwarded-prefix`

[2021-07-19 05:51] sonus21 commented on #98
@denisRu92  I hope issue is resolve closing this ticket, please open it if you need any assistance.

[2021-07-19 05:51] #98 closed

[2021-07-19 07:30] patkinson01 commented on #99
Hi @sonus21 , thanks for the reply. I saw you'd added new functionality around `x-forwarded-prefix`, however I don't think it's a direct replacement as `x-forwarded-prefix` isn't universally supported and doesn't solve our use-case which is to move rqueue inside the app context.  So instead of /rqueue, /appcontext/rqueue

[2021-07-19 10:16] sonus21 commented on #99
You're right, it's not useful in some cases, it's removed since that config was not used in the code. I'll release a fix today.

[2021-07-19 12:00] patkinson01 commented on #99
Awesome, thank you so much @sonus21 ! :)

[2021-07-19 13:13] sonus21 commented on #99
Please check version 2.8.1 let me know if that works for you.

[2021-07-19 21:56] patkinson01 commented on #99
Hi @sonus21 , I've just quickly tested and can see the links to the resources have been given the prefix, however the actual paths haven't changed.

i.e. rqueue.web.url.prefix=/myapp/

<link href="/myapp/rqueue/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

However the actual URL of the dashboard is still:
http://localhost:<port>/rqueue
and the above CSS file:
http://localhost:<port>/r

[2021-07-20 06:17] sonus21 commented on #99
Hi @patkinson01

Thanks for the update, can you please check version 2.8.2-SNAPSHOT ?

Snapshots are available at https://s01.oss.sonatype.org/content/repositories/snapshots/com/github/sonus21/

Static files will not be served correctly so you need to add resource location

https://github.com/sonus21/rqueue/blob/bcbab872c8a587a00eaa7d90c9b29c7f40d5b2f0/rqueue-spring-boot-example/src/main/java/com/

[2021-07-20 12:20] Dbasdeo opened #102 "[RqueueTaskAggregator] Unable to acquire lock"
I'm not sure if this is a bug per say, but the logs are just really annoying. I have no specific way of reproducing, but it just happens all of the time. Something happens and the service just starts spewing these logs over and over. It doesn't seem like the queue is affected though.

{"@timestamp":"1626779911189","@version":"1","message":"Unable to acquire lock, will retry later","logger_name":"c

[2021-07-20 16:38] sonus21 commented on #102
Hi @Dbasdeo
Thanks for reporting this issue, this is not a bug as you've guessed. Can you please let me know how frequently this occurs?
Also how many messages are getting processed per second/minute, this log will occur when Rqueue is running at very high throughput.

[2021-07-20 22:23] damien-swarm opened #103 "RqueueListener doesn't unwrap String messages"
**What's not working?**

I have the following code snippets:

Producer.java:
[code]

Consumer.java:
[code]

I'd expect the logger to log
`Message: test message`
but instead it logs
`Message: {"msg":"\"test message\"","name":"java.lang.String"}`

The listener correctly unwraps messages that aren't of type `String`, but doesn't do it here.

Should I just use `ObjectMapper` to handle this json? Is th

[2021-07-21 08:16] Dbasdeo commented on #102
I first saw it when load testing our application at 200 RPS. But now I have also seen it when just sending a scheduling a single message in the queue. It does happen fairly regularly to be honest. Do we need to be worried about this at all? Were wondering if we need to find a way to automatically detect and perhaps restart the container when it occurs.

[2021-07-21 08:23] patkinson01 commented on #99
Hi @sonus21 , unfortunately this isn't working as expected:

mvn spring-boot:run "-Dspring-boot.run.jvmArguments=-Drqueue.web.url.prefix=/rqueue-internal"
 curl http://localhost:9004/rqueue-internal/rqueue
{"timestamp":"Jul 21, 2021, 6:58:47 AM","status":404,"error":"Not Found","message":"","path":"/rqueue-internal/rqueue"}%

During start-up there was an error:
 ERROR c.g.s.r.w.c.RqueueControllerB

[2021-07-21 08:55] sonus21 commented on #102
No, nothing worry about this is a feature can be turned off. It does not
impact any message processing, its used to aggregate message count and
other metrics we display on dashboard.

I'm looking into this to minimize the occurrence, for now nothing to worry
about. You don't have to restart container or do anything.

Thanks to bringing it up.

On Wed, Jul 21, 2021, 1:46 PM Dylan Basdeo ***@***.***

[2021-07-21 08:57] sonus21 commented on #99
No problem, I'll investigate this further and get back to you, with a
working solution. Unfortunately this is working in my local setup.

On Wed, Jul 21, 2021, 1:53 PM Paul Atkinson ***@***.***>
wrote:

[2021-07-21 08:59] sonus21 commented on #103
This is a correct error. As you're not sharing jar files across services
this can happen. The best way to solve this is to use object mapper on msg
field.

On Wed, Jul 21, 2021, 3:53 AM Damien Jiang ***@***.***> wrote:

[2021-07-21 09:56] Dbasdeo commented on #102
So there a property I can flip, that will disable this and the log line?
What is the property?

[2021-07-21 11:41] damien-swarm commented on #103
That's strange though---for all types `T` except `String`, we have

Producer:
[code]
Consumer:
[code]

But that's different for `T = String`?

[2021-07-22 00:42] damien-swarm commented on #103
Would it be possible to send unwrapped serialized JSON objects if I used a different `MessageConverter`, such as `MappingJackson2MessageConverter`? (Or plain strings if I use `StringMessageConverter`?)

[2021-07-22 05:58] sonus21 commented on #103
Yes, that's possible.

Please check wiki

https://github.com/sonus21/rqueue/wiki/Configuration#message-converters-configuration

On Thu, Jul 22, 2021, 6:12 AM Damien Jiang ***@***.***> wrote:

[2021-07-22 06:30] sonus21 commented on #102
Yes,
Set rqueue.web.collect.listener.stats=false

On Wed, Jul 21, 2021, 3:26 PM Dylan Basdeo ***@***.***> wrote:

[2021-07-22 16:38] sonus21 commented on #102
@Dbasdeo
Would you be able to provide some more details like at what interval this error occurs ?
Also, can you check what happens when you increase the value of `rqueue.web.collect.statistic.aggregate.event.count` this is set to 500 by default.

[2021-07-22 16:43] sonus21 commented on #103
Could you please provide me a buggy code  with minimal setup? I'm not quite sure what's happening in your case, `msg`  field will have jackson serialised data .

See this code https://github.com/sonus21/rqueue/blob/cc8bef05383516799be81edbe5072899300a4e05/rqueue-core/src/main/java/com/github/sonus21/rqueue/core/DefaultRqueueMessageConverter.java#L32

[2021-07-22 16:50] sonus21 commented on #99
@patkinson01  can you please let me know java version?

[2021-07-22 18:49] patkinson01 commented on #99
Hi @sonus21  Sure it's 11.0.11 (Oracle Java)

[2021-07-22 20:59] damien-swarm commented on #103
In addition to the above code snippets, I have the configuration
[code]
because I want the `ObjectMapper` in the `GenericMessageConverter` to be the same as in the rest of the application.

Interestingly, it seems to work better if I use
[code]
instead: I just get a String that I can directly deserialize with `ObjectMapper`.

However, despite the `StringMessageConverter` coming first in the `Compo

[2021-07-22 22:41] Dbasdeo commented on #102
Im not sure I can specify really when it happens, cause it just seemed to happen sporadically even at very low RPS. Every one on my team noticed it and started to get worried.

Do you expect increasing this value should reduce that log line being emitted? I will give it a go.

[2021-07-23 01:54] sonus21 commented on #102
Let me explain you, why this happens in details

Whenever a message is consumed by listener an  application event is generated for tasks metrics calculation, this is used to collect different types of metrics that you see in the dashboard.

Its configured that the application will wait for 1 minute or 500 tasks to aggregated at once, since it needs to  post this data to redis, if we push data on e

[2021-07-23 03:16] sonus21 commented on #99
@patkinson01 thanks for the detail, unfortunately this solution will not work on JDK 9+, trying to find a way to solve this issue using some other mechanism.

[2021-07-23 03:55] sonus21 commented on #103
I would suggest do not use GenericMessageConverter as you don't want to share class information. You should use two message convertors

* StringMessageConverter  => This only works for String class
* JsonMessageConverter => This will work for other class definitions other than String

Unfortunately I tried and the current Rqueue code is buggy.

Can you test this on version 2.9.0-SNAPSHOT?

[2021-07-23 16:41] sonus21 commented on #99
@patkinson01  can you please test 2.9.01-SNAPSHOT and see if this works on your system? It seems to be working solution now.

[2021-07-24 08:41] patkinson01 commented on #99
Great work @sonus21, all looks good here too, thank you!  :)

[2021-07-27 23:05] damien-swarm commented on #103
Hi,

Sorry I haven't really gotten a chance to test the new 2.9.0 snapshot (currently pretty busy with a number of projects); I've just been using `StringMessageConverter` by itself and serializing/deserializing my object with `ObjectMapper`, which is working fine.

[2021-07-30 04:16] sonus21 commented on #103
Hi @damien-swarm
no problem. I'll release the fix this weekend.

[2021-07-30 05:20] #103 closed

[2021-07-30 05:21] #102 closed

[2021-07-30 05:21] #99 closed

[2021-07-30 05:21] #95 closed

[2021-08-07 03:52] febinct commented on #43
Is there any plan to support this ?

[2021-08-08 17:35] sonus21 commented on #43
@febinct  would workaround solve your usecase?

[2021-08-23 04:18] lihongze opened #104 "Start an error after updating the version，cause by RedisUtils.updateAndGetVersion"
**What's not working?**
When I updated the rqueue version from 2.0.0 to 2.8.0, restarted the redis service, and then the project started reporting an error java.lang.UnsupportedOperationException

**What're application dependencies ?**
 - Rqueue Version: 2.8.0
 - Spring Boot  Version: 2.3.0
 - Spring Data Redis Version：2.3.0

**How to Reproduce (optional)?**
The redis connection pool used by my pr

[2021-08-23 06:58] sonus21 commented on #104
I don't think you can use Jedis client with Rqueue as it will run LUA
script.

Can you please Lettuce client, there's no change per se, you need to just
set connection factory.

On Mon, Aug 23, 2021, 9:48 AM hongze ***@***.***> wrote:

[2021-08-23 07:03] lihongze commented on #104
Okay, I'm already switching to Lettuce, I'm just curious why Jedis doesn't support it😄, thank you for your reply

[2021-08-23 08:03] #104 closed

[2021-08-23 09:39] omarBishPaltel opened #105 "Number of messages to move is always 1000"
**What's not working?**

when you try to convert messages from one queue to another using the Move Messages section in utility  page it always only move 1000 regardless of the message count I specify in the Number of messages field.

**What're application dependencies ?**
- Rqueue Version: 2.9
- Spring Boot  Version: 2.4.5

**How to Reproduce?**
* try to convert more than 1000 messages from one qu

[2021-08-23 09:51] omarBishPaltel commented on #105
I think the solution is simply to change  the param in this [line](https://github.com/sonus21/rqueue/blob/a58a009ad3621ff1a5ff37617ce49b9b65d3ebf0/rqueue-core/src/main/resources/public/rqueue/js/rqueue.js#L423) from `messageCount` to `maxMessages`

[2021-08-25 04:01] sonus21 commented on #105
Yes, you're right there's a bug.

[2021-08-25 04:18] sonus21 commented on #105
As an immediate fix, you can set `rqueue.web.max.message.move.count` to 10k or any other value if you want.

[2021-08-26 19:21] thalleshonorato opened #108 "Rate Limit in Rqueue"
Is possible define rate limit on job in Rqueue?

[2021-08-27 08:33] #108 closed, assigned to sonus21

[2021-09-10 12:48] argomes1988 opened #112 "postExecutionMessageProcessor it's not called after successfully executed messages"
More details -> https://github.com/sonus21/rqueue/discussions/111

[2021-09-16 09:21] princepritam opened #113 "Disable logs for RqueueMessagePoller"
I am using rqueue for my spring boot application, and its printing a huge amount of logs.
Any way to disable that?
[code]
The above log keeps repeating.
@sonus21 @rdwallis

[2021-09-17 06:52] sonus21 commented on #113
Yes you can, how did you enable this? Are you running your application in DEBUG log level?
Not sure which logger you're using , you should be able to set log level to other like INFO

[2021-09-17 07:16] princepritam commented on #113
@sonus21 I am using logback actually.
And also can we configure the polling frequency?

[2021-09-17 08:12] sonus21 commented on #113
Yes you can change polling frequency,  set `pollingInterval` in SimpleRqueueListenerContainerFactory.

[2021-09-17 08:46] princepritam commented on #113
@sonus21 I am using version 2.9.0-RELEASE as maven dependency.
How can I edit that?
And also @EnableRqueue annotation is not getting detected.

[2021-09-17 08:56] sonus21 commented on #113
Check wiki page https://github.com/sonus21/rqueue/wiki

[2021-09-17 08:56] #113 closed

[2021-09-27 07:41] princepritam opened #114 "Deleted Rqueue related redis keys"
@sonus21
I was using jedis and I used jedis.flushAll(), which in turn I think deleted all the rqueue redis keys.
Now I am getting this error
[code]

Is there a way to restore?

Thanks

[2021-09-27 08:55] sonus21 commented on #114
You can't restore Keys if you flush db, you can only restore them from backup. IIUC, this error is due to LUA script not due to any key, jedis does not support LUA script and that's leading to this error.  Can you try latest jedis library version this should work.

[2021-09-27 11:09] princepritam commented on #114
@sonus21  I am using the latest jedis 3.7.0 and still facing the same issue.

[2021-09-27 13:55] sonus21 commented on #114
Can you try lettuce client?

[2021-10-01 03:53] princepritam commented on #114
@sonus21 its working fine with lettuce.

[2021-10-01 03:53] #114 closed

[2021-10-03 04:53] sonus21 opened #119 "Servlet context path prefix is not honoured."
#118

[2021-10-10 02:53] #119 closed

[2021-10-10 02:53] #105 closed

[2021-10-15 10:44] zyufocus opened #122 "[Concurrency] is not handled when task executor is provided"
**What's not working?**

I configured two RqueueListeners, and each listener set concurrency to 5 and batchSize to 10, but RqueueMessagePoller can only get two tasks at a time. What exactly does this concurrency mean?

[code]

**I hope a listener can consume 【concurrency】 tasks in parallel, can this be done?**

**What're application dependencies ?**
- Rqueue Version: 2.10.0-RELEASE
 - Spring Boot

[2021-10-17 10:25] sonus21 commented on #122
How do you know `RqueueMessagePoller can only get two tasks at a time`?

Concurrency means these many messages could be consumed in parallel given you've enough messages in the queue. If your producer is slow then it will not poll 5 messages.

[2021-10-17 11:43] zyufocus commented on #122
Thank you for your reply！
I debugged this piece of source code on Intellij Idea。
**Every time I send 14 tasks to the queue, but he can only consume one each time。**
And used the following method to inject a custom thread pool into Rqueue。
`
@Bean
    public SimpleRqueueListenerContainerFactory simpleRqueueListenerContainerFactory(ThreadPoolTaskExecutor rqueueTaskExecutor) {
        SimpleRqueueLis

[2021-10-18 02:30] zyufocus commented on #122
I currently use a custom thread pool to make log collection-related changes, and the concurrency-related functions have no impact for the time being.I want to know if you will optimize the functions related to the custom thread pool later！Thank you！

[2021-10-18 05:23] sonus21 commented on #122
We can support adding task decorator but you don't need task decorator unless you're doing something specific that can't be done either using annotation or AOP.

[2021-10-27 14:40] #122 closed, assigned to sonus21

[2021-10-27 18:42] damien-swarm opened #126 "What happens on TaskRejectedException in an rqueue message listener?"
I'm seeing a bunch of warnings like this:

[code]

I think it's because I'm accepting >5 tasks from this `msg-delivery-retry` queue at the same time, so `rqueue` is basically throttling what's coming through that queue. Is that correct?

This is actually desirable behavior for me, just want to make sure I'm understanding what happened, and that `rqueue` isn't just dropping messages over the thread

[2021-11-01 04:20] arun2106 opened #127 "JVM OutofMemory and AutoRecovery"
What's not working?

Spring boot application is regained post of OOM. Rqueue message producer fails with nullpointer exception..

OOM error logs:
2021-10-30T01:08:09.914Z log-stash-h6xx8 2021-10-30 01:07:49,497 ERROR [jobqueueConsumer-394] [data-ingestion-api,,,8da6ac96-db58-4a8b-a8e2-51683818cbda] RqueueMessageHandler: Unhandled exception from message handler methodorg.springframework.messaging.M

[2021-11-01 15:56] sonus21 commented on #127
Hi Arun
Would you be able to provide more log about NPE?

[2021-11-02 04:55] arun2106 commented on #127
I will try to replicate again and send more logs.. i see only above exception in the logs...

[2021-11-02 06:33] zchking opened #128 "Add my organisation in Rqueue Users"
# Organisation Name
CHAOTI INFO TECH(SHENZHEN) LTD
# Organisation link
[https://www.chaotiinfo.cn](https://www.chaotiinfo.cn)
# How many messages does Rqueue process daily?  (optional)
10k
# How are you using Rqueue? (optional)
process delay message
# Testimonials (optionals)

# Icon/Logo
![chaotilogo-1 (2)](https://user-images.githubusercontent.com/5665818/139797406-d871dfe9-2c34-4b52-a4ff-ad819e

[2021-11-08 11:39] einverne opened #129 "Is it a mistake in wiki page, for the usage of @EnableRqueue"
**What's not working?**

I'm a new use to use the spring-boot version of Rqueue, but when I follow the instruction in the wiki page, I cannot import the `@EnableRqueue` and I cannot find the class in the source code.

**What're application dependencies ?**
I'm using

[code]

**How to Reproduce (optional)?**

**Additional Details (optional)**

[2021-11-08 12:10] sonus21 commented on #129
That's only for spring app not for spring boot.

[2021-11-08 12:10] #129 closed

[2021-11-08 12:11] einverne commented on #129
Thank you. I figured it out.

[2021-11-08 12:50] einverne opened #130 "Pipeline is currently not supported for JedisClusterConnection?"
**What's not working?**

I meet the problem when I tried to use Redis cluster.

Bean instantiation via factory method failed; nested exception is org.springframewo
rk.beans.BeanInstantiationException: Failed to instantiate [com.github.sonus21.rqueue.config.RqueueConfig]
: Factory method 'rqueueConfig' threw exception; nested exception is java.lang.UnsupportedOperationExcepti
on: Pipeline is curren

[2021-11-08 15:20] sonus21 commented on #130
Yes please use Lettuce client.

[2021-11-08 15:20] #130 closed

[2021-11-08 15:26] sonus21 commented on #126
@damien-swarm  did you get a chance to validate this issue on 2.10.1-RELEASE? This error message should not come.

[2021-11-13 01:21] damien-swarm commented on #126
@sonus21 thanks for your answer. I upgraded the library but haven't deployed to production yet; I'll let you know if the warnings go away after that.

[2021-11-14 19:22] damien-swarm commented on #126
I don't see the warnings anymore for now, though it also may be due to other changes I made. :)

I increased MaxNumWorkers, partitioned the queue as per your recommendation in #43, and set it to 1 concurrent listener per partition. I guess I'll have to wait for our application to get more load across different partitions before I see if this comes up again.

[2021-11-28 21:41] #126 closed

[2021-12-02 17:36] sonus21 opened #138 "Deleted message reappears"
### Discussed in https://github.com/sonus21/rqueue/discussions/137

<div type='discussions-op-text'>

<sup>Originally posted by **utkarsh19467** November 26, 2021</sup>
Hi Sonu,

On deleting a periodic message from the same Listener that is invoked on current run doesn't cancel future runs. Cancelling periodic task works fine if done from some other flow and not within the same listener.

So, basi

[2022-01-19 22:21] bharatnpti opened #141 "Consumed messages not removed from from queue"
**What's not working?**

Messages are not removed/deleted from queue when using RqueueMessageTemplate.pop(String queueName, String processingQueueName, String processingChannelName, long visibilityTimeout)

**What're application dependencies ?**
- Rqueue Version: 2.8.0-RELEASE
 - Spring Boot  Version:  2.4.4
 - Spring Messaging Version - NA
 - Spring Data Redis Version - NA
 - Any other spring lib

[2022-01-20 10:55] bharatnpti commented on #141
monitor logs shows that message is pushed to the queue again after sometime -

`
1642675687.312381 [0 172.17.0.1:61020] "EVALSHA" "1e999020e4b8966d5b067ade979ce518744e4773" "2" "__rq::queue::{update}" "__rq::d-queue::{update}" "1642675687270" "100" "0"
1642675687.312527 [0 lua] "ZRANGEBYSCORE" "__rq::d-queue::{update}" "0" "1642675687270" "LIMIT" "0" "100"
**1642675687.312583 [0 lua] "RPUSH" "__rq

[2022-01-20 11:34] sonus21 commented on #141
No, you're not using it correctly.
Can you share your complete application sample code?

[2022-01-20 11:54] bharatnpti commented on #141
Code - https://github.com/bharatnpti/RqueuePerformace -> master branch

Meanwhile can you please answer few questions related to processing queue :

1) Why messages are moved from queue(list) to processing queue(zset)
2) Which method performs the above operation

[2022-01-28 13:12] sonus21 commented on #141
@bharatnpti  repository is not public.

[2022-02-09 17:16] Harsha-changejar commented on #19
Hello Sonus,

I am trying to do the same, but on bootup the application throws the below error.

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'simpleRqueueListenerContainerFactory' defined in class path resource [com/api/changejar/config/redis/RedisStandaloneConfig.class]: Unsatisfied dependency expressed through method 'simpleRqueueLis

[2022-02-10 10:56] SpiderBabyBoss opened #142 "Spring Boot : java.io.FileNotFoundException (rqueue/scripts/enqueue_message.lua)"
Hi,

Recently I run into an issue, when I try to enqueueAt a job in redis I encountered the following error :
[code]
I'm not able to reproduce if running within intellij, but only with the jar file.

**What're application dependencies ?**
- Rqueue Version: 2.10.1-RELEASE
 - Spring Boot  Version: 2.6.3
 - Spring Messaging Version: 5.3.15
 - Spring Data Redis Version: 2.6.1

Thanks in advance for yo

[2022-02-10 14:00] sonus21 commented on #142
Can you share how jar was packaged? Jar should package other files too.

[2022-02-10 14:09] SpiderBabyBoss commented on #142
Thanks for quickly response.

It was packaged by maven :
`` mvn clean package``

I found the two packages into the jar :
  - "BOOT-INF/lib/rqueue-spring-boot-starter-2.10.1-RELEASE.jar"
  - "BOOT-INF/lib/rqueue-core-2.10.1-RELEASE.jar"

And into rqueue-core there are all the lua scripts.

[2022-02-11 17:04] SpiderBabyBoss commented on #142
Hi,

I understood the problem, you can try to reproduce with this piece of code, which works in the IDE but not in the jar

``
CompletableFuture.runAsync(() -> rqueueMessageEnqueuer.enqueueAt(q, msg, System.currentTimeMillis() + 1000));``

[2022-02-13 23:01] ptheohar opened #143 "MessageMetadata status remains PROCESSING even after successful handling"
**What's not working?**
The MessageMetadata entry remains in `status = PROCESSING` even after successful handling, instead of changing to `SUCCESSFUL`. Note that the linked job that encapsulates the `messageMetadata`, is changed eventually to status `SUCCESSFUL`.
Is this expected behavior?

See below screenshots for additional details

**What're application dependencies ?**
- Rqueue Version: 2.10.

[2022-02-14 06:28] sonus21 commented on #142
Can you please share the way you're packing jar files?
This error should not occur, even from command line when I run gradle bootRun command.

[2022-02-14 06:30] sonus21 commented on #143
No that's unexpected.

[2022-02-14 06:36] #141 closed

[2022-02-14 12:35] ptheohar commented on #143
Hi @sonus21 ,
Thanks for your quick response. Are you going to check it?
Do you need more input from my side?

[2022-02-15 08:37] sonus21 commented on #143
@ptheohar  thanks for the bug, I do not need any more detail. This is due to a code issue will be fixed in release though it does not impact any usual message processing let me know if it's otherwise.

[2022-02-16 17:02] ipekbaysal-vng opened #144 "Lettuce keeps trying to reconnect"
**What's not working?**

Hi,  we start redis within our unit test framework as below:

  @BeforeAll
  static void setup() {
      redisServer = RedisServer.builder().port(6379).build();
      redisServer.start();
  }

and we shutdown it like that:

    @AfterAll
    static void clean() throws InterruptedException {
        redisServer.stop();
    }

but after test passes and redis is shutdown. Let

[2022-02-18 09:20] sonus21 commented on #144
HI @ipekbaysal-vng
Yes we need to start  Redis manually like you do though I'm not quite sure  why it's printing these lines.

Can you run this test and report me if you find the similar log?

https://github.com/sonus21/rqueue/blob/master/rqueue-spring-boot-starter/src/test/java/com/github/sonus21/rqueue/spring/boot/tests/integration/JobCheckinTest.java

[2022-02-18 12:59] SpiderBabyBoss commented on #142
I only run jar with `` java -jar ...``

[2022-02-24 07:36] sanwanliu opened #145 "WeightedPriorityPoller not work when priorityGrop size is 1"
[code]
this method will always return -1 when queue size is 1

[2022-03-03 05:48] sonus21 commented on #145
yes, that;s a bug

[2022-03-03 05:49] sonus21 commented on #142
I think you need to include other jar files as well.
Closing this as this is not a rqueue issue.

[2022-03-03 05:49] #142 closed

[2022-03-03 07:49] rahulharinkhede-gl opened #148 "Consumer latency"
**What's not working?**
We have a use case wherein we are sending messages over queue with gradual delay.
i.e initial a message send with 3000ms delay then next time same message send with 6000ms then with 12000ms and so on.
but on the consumer side we shaw latency of 2-5 sec.
i.e if we are expecting messages to be sent after 3000ms but we are getting after 4000ms to 6000ms. so there is a latency

[2022-03-07 14:52] rahulharinkhede-gl commented on #148
@sonus21 it's not a problem with time at the initial step we are getting 2-5 sec latency.
i.e if the delay is 3sec, so after 3-4 sec we receive the message but we get this message with latency of 2-5 sec.
we computed time with a multiplier of 2.
i.e if initial its 3000ms then next time its 6000ms and its increase till 7 retry

[2022-03-07 14:58] rahulharinkhede-gl commented on #148
**producer side code**
`
                   public class MessageService{
                  public void sendNotification(Email email) {

		//executorService.execute(() -> {
		log.info("sending message to email-queue");
		long delay = email.getDelay();
		if(!email.getRetry().equals(1)){
			delay = email.getDelay()*2;
			email.setDelay(delay);
		}
		log.info("delays is ::{}",delay);
		email.setRetry(

[2022-03-08 02:48] sonus21 commented on #148
ok,

set `rqueue.scheduler.scheduled.message.time.interval`  this is a time in milli second, you can change this to 100 if you can tolerate 100 millisecond delay.  If you don't want any delay than try delay zero but setting zero may mean more Redis calls.

[2022-03-08 09:54] rahulharinkhede-gl commented on #148
Thanks now we are getting the messages with minimum latency
Please refer below stacks
![image](https://user-images.githubusercontent.com/61733976/157212357-90a4f5bb-2815-4a4b-9b95-298e916c2e61.png)

[2022-03-08 15:12] bharatnpti opened #149 "SpringContextShutdownHook - Causing test cases to fail"
We have multiple test cases annotated with the following annotations :-

[code]

While running all the test cases (mvn clean install), suddenly SpringContextShutdownHook is published and the test cases starts failing with Internal Server Error.

However, the application works fine when ran.

**Why this event is published and how to stop it in case of test cases ?**

Logs:-

[code]

**What's not wo

[2022-03-08 15:43] sonus21 commented on #148
Did you set this value to zero?

[2022-03-08 15:44] sonus21 commented on #149
Can you please try latest Rqueue version  and also please share what's not working. Log is not sufficient.

[2022-03-10 11:42] Sanchew opened #150 "It's not working im my project , I have no clue."
Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'messageQueueServiceImpl': Unsatisfied dependency expressed through field 'enqueuer'; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'rqueueMessageEnqueuer' defined in class path resource [com[/github/sonus21/rqueue/spring/b

[2022-03-11 02:25] Sanchew commented on #150
my redis is working. my spring-boot-starter-data-redis is working. but rqueue is not working.

[2022-03-11 02:30] Sanchew commented on #150
Does rqueue conflict with spring-boot-starter-data-redis

[2022-03-11 04:31] #150 closed

[2022-03-11 04:32] Sanchew commented on #150
I'm fix this issue, replace rqueue-spring-boot-starter with rqueue-spring.

[2022-03-11 06:33] sonus21 commented on #150
Oh! I see you've used wrong dependency.

[2022-03-12 02:49] Dbasdeo opened #151 "With active-active + cluster mode enabled often messages get processed twice"
We had originally implemented a scheduler using your library with Redis elasticache in AWS with cluster mode disabled. Every thing seemed to work out great. For context, our service in production that implements the scheduler runs 3 instances. The scheduled task was always dispatched to a single instance as expected.

We have now tried to switch to an enterprise version of redis with cluster mode

[2022-03-14 11:47] sonus21 commented on #151
Yeah,  it's not built to handle such scenarios. One thing can be done here is, you can turn off Rqueue workers/listeners in 2nd region.

[2022-03-14 17:19] Dbasdeo commented on #151
There seems to be a bit of lag between replication. When the same job gets dispatched to 2 instances in separate regions and they are then actually both able to update the request (we use redis for persistence as well) without a cas exception maybe even 30ms apart.  Im currently trying to figure out what expected lag is.
As for our arch we are basically running a service in 2 euro regions each poi

[2022-03-15 13:52] rahulharinkhede-gl commented on #148
No i have set to 100

[2022-03-15 21:06] Dbasdeo commented on #151
@sonus21 I've started to think about the problem in a different way but Im not sure the library allows for it.

1. Each region creates their own queue, schedules their own message and handles their own results
2. Periodically,  we do a health check on the opposite region. If it is returning 5xx, we start listening from the other regions queue. If we see the health check passing again we stop consu

[2022-03-16 06:30] sonus21 commented on #151
We can stop/start listener at runtime but it does not support new queue in the region. Why do you need active active setup for consumers? Should not you stop consumer in another region?

[2022-03-16 17:45] Dbasdeo commented on #151
Basically we want to be resistant to losing an entire region.
If all the consumers in region A are lost (either instances go down or redis goes down), we would like region B to start consuming A's job queue so its not lost. We don't need to add a queue but just start a consumer of an existing queue at runtime. But it seems like all the consumer code is hidden in the library.

[2022-03-19 08:58] sonus21 commented on #151
I think it's not correct to use a multi-regions active-active setup for consumers.     Even SQS is a single region it's not replicated across regions.

https://stackoverflow.com/questions/66249605/does-aws-sqs-replicate-messages-across-regions

Can you refer me to some articles that suggest this solution for high availability?

Proposed solution:

* Deploy listener in all regions  but enable only

[2022-03-22 12:25] Dbasdeo commented on #151
I think your proposed solution sounds like what we are going to attempt. That sounds like the way I was kind of angling now. I was trying to find something like task count so thank you for sharing!

I honestly was just dreaming a bit that this would be possible but sounds like my head was a bit in the clouds.

[2022-04-04 11:15] bharatnpti commented on #149
issue not with Rqueue

[2022-04-04 11:15] #149 closed

[2022-04-12 10:20] AmitBhandari7777 commented on #138
Hi @sonus21, Is there any progress regarding this bug?

[2022-04-19 07:30] ethfun opened #153 "how to delete periodic message ?"
hi, @sonus21 :
          how to delete periodic message when it be consumed many times?

[2022-05-13 12:08] nazmul-prince opened #155 "The list of pending or completed jobs are not showing in rqueue dashboard"
Cant see the list of pending or completed jobs in dashboard.

### Whats the issue:
I have 2 application. One for message publisher which enqueue jobs to the rqueue and another for message consumer or I would rather say worker (listening to the rqueue for any jobs coming from the enqueue ). Now I have publish 5 jobs and all jobs were successfully consumed by the worker and successfully processed. N

[2022-05-13 18:53] nazmul-prince commented on #155
Never mind clearing the cache of my browser did the trick.

But my concern is the dashboard ok to use in production?
Will it effect the overall performance of the production?

Thanks again.

[2022-05-16 09:48] nazmul-prince opened #156 "Rqueue dashboard not working in offline mode"
I can't run rqueue dashboard in offline.
Is it possible to do so?
While online its worker superbly.

**Dependencies:**
- Rqueue Version: 2.10.1
 - Spring Boot  Version: 2.4.4

[2022-05-16 10:00] sonus21 commented on #156
No it's not possible.

[2022-05-16 10:00] #156 closed

[2022-05-16 10:02] sonus21 commented on #153
Whether it's a periodic job or a simple job, when you enqueue a job it generates an ID that can be used to delete the message.

[2022-05-16 10:02] #155 closed

[2022-06-12 09:59] #153 closed

[2022-06-12 10:00] #127 closed

[2022-07-10 02:59] sonus21 commented on #138
@AmitBhandari7777  at what frequency this is happening?

[2022-07-16 09:23] #145 closed

[2022-07-16 09:23] #143 closed

[2022-07-16 09:23] sonus21 commented on #128
Thanks, Its added now.

[2022-07-16 09:23] #128 closed

[2022-07-16 09:23] sonus21 commented on #138
This issue has been fixed.

[2022-07-16 09:23] #138 closed

[2022-08-04 01:26] shuangli opened #161 "dashboard home page /rqueue & /rqueue/utility are not working"
**What's not working?**
it doesn't display any data except static content when we go to /rqueue

it doesn't display any data except static content when we go to /rqueue//utility and enter queue name and hit "view", there is 400 error when I inspect it:
here is payload
{src: null, count: 10, page: 0, type: "", name: "online-segment-end"}
and response:
{"title":"Bad Request","status":400,"message":"

[2022-08-05 02:41] pcastroadc opened #162 "RqueueMessageManager.deleteMessage(queueName, Id) not deleting the message from the Queue"
**What's not working?**

RqueueMessageManager.deleteMessage(queueName, Id) not deleting the message from the Queue, I basically call it but if I call RqueueMessageManager.getMessage() is still there afterwards

While RqueueMessageManager.deleteAllMessages(queueName) does work

**What're application dependencies ?**
- Rqueue Version: 2.10.2-RELEASE
 - Spring Boot  Version: 2.6.8
 - Spring Data Redi

[2022-08-05 07:15] sonus21 commented on #162
Finally block is always called.

Can you read MessageMetadata it should have the flag deleted is true, this is not a bug? This is just an inconsistency about the usage of MesssageMetadata.

[2022-08-05 07:15] sonus21 commented on #161
Can you share error from browser console?

[2022-08-05 12:16] pcastroadc commented on #162
how is it not a bug if calling `RqueueMessageManager.getMessage(queueName, id)` after deleting it still returns it?

and also if you call `deleteAllMessages` it does delete it and then `RqueueMessageManager.getMessage()` doesnt return it anymore. That's not consistent behavior, what do you mean with calling `read MessageMetadata` exactly? using another one of your classes to do it?

[2022-08-05 12:27] sonus21 commented on #162
I meant to say, this method does not check delete flag , we can add a fix
for this

On Fri, 5 Aug 2022 at 5:46 PM, pcastroadc ***@***.***> wrote:

--
Thanks,
Sonu Kumar
Linkedin <https://in.linkedin.com/in/sonus21>
GitHub
<https://github.com/sonus21>

[2022-08-05 12:56] pcastroadc commented on #162
One more question, Will messages mark as deleted still be picked up by the listeners?

[2022-08-05 16:35] sonus21 commented on #162
no, it will not be picked by message listener.

Thanks,
Sonu Kumar
Linkedin <https://in.linkedin.com/in/sonus21>
GitHub
<https://github.com/sonus21>

On Fri, Aug 5, 2022 at 6:26 PM pcastroadc ***@***.***> wrote:

[2022-08-11 04:34] ethfun opened #163 "message missing issue?"
Hi @sonus21 :
     our team have a problem when using Rqueue that some message had missing .  I double that is our properties file config not correct,
cause we don't set
`
queue.scheduled-queue: true
`
but I cannot found where using it ,   how does it work?

[2022-08-11 04:45] sonus21 commented on #163
In the latest Rqueue version we do not have to set `queue.scheduled-queue` as due to retry, messages are pushed to scheduled queue.

Would you be able to share more details about message missing?

[2022-08-11 04:53] ethfun commented on #163
Spring Boot Rqueue version
`
  <dependency>
	  <groupId>com.github.sonus21</groupId>
	  <artifactId>rqueue-spring-boot-starter</artifactId>
	  <version>2.10.1-RELEASE</version>
  </dependency>
`
does this version need set `queue.scheduled-queue:true` ?

according to log analysis, sending message total count  is 17, but consuming message total count is 12. and we also check tasksSuccessful count

[2022-08-11 09:55] sonus21 commented on #163
No, this version does not require setting `queue.scheduled-queue:true`, https://sonus21.medium.com/introducing-rqueue-redis-queue-d344f5c36e1b

Can you log the job id and see if it's getting consumed or not? Also, check the scheduled queue to see if messages are in the scheduled queue.

[2022-08-16 05:17] #163 closed

[2022-08-20 16:02] feribg opened #164 "Ability to override default ObjectMapper"
I was looking for a way to use the default MessageConverter but levarage Spring's ObjectMapper or at least find a way to customize the default objectMapper Rqueue uses and it seems it's not possible as it's initialized by a static call to SerializationUtils.

Given that often the spring OM gets customized with support for various custom objects, etc, it would be much better to be able to define th

[2022-08-22 06:08] sonus21 commented on #164
You can do this as

[code]

[2022-08-22 11:41] #164 closed

[2022-08-31 05:11] ryukato opened #165 "Pass multi message to handler using batchSize"
**Is your feature request related to a problem? Please describe.**
For now we're able to fetch multi messages using `batchSize`, and single message will be passed to executor.

**Describe the solution you'd like**
We want a new feature to passing the batched messages to executor. In other words, we want to execute like below.
[code]
I appreciate if you let me know a way with current implementation

[2022-09-03 11:36] sonus21 commented on #165
This can be implemented but this will have specific issues like when one of the messages fails, should we retry the entire batch, or what to do?  What's the advantage of using Batched listener?

[2022-09-03 11:37] sonus21 commented on #161
This does not seem to be a bug, closing it. Please reopen it as you see.

[2022-09-03 11:37] #161 closed

[2022-09-19 10:02] nazmul-prince opened #166 "Can I send a Map as the message from enqueue"
**What's not working?**
[code]
The above code is showing the following bug:
[code]
So I dont know whether its a bug or not or I'm missing somthing.
So can I send Map as requeue message?

**What're application dependencies ?**
- Rqueue Version: 2.10.1-RELEASE
 - Spring Boot  Version: 2.7.3
 - Spring Data Redis Version: 2.4.6

[2022-09-19 10:13] sonus21 commented on #166
Yes, you can try to initialize map with some value.

[2022-09-19 10:18] nazmul-prince commented on #166
@sonus21 thanks for the quick answer.
Actually that map was the request body. The request body have some values as it converts into map but still I'm getting the error
Can you help pls

[2022-09-19 10:22] sonus21 commented on #166
I do not know, try with some other map and see why its failing

[2022-09-19 10:22] #166 closed

[2022-10-26 10:28] scotty6435 opened #169 "Update JQuery from 3.4.1 to 3.6.1"
The current hosted version of JQuery is 3.4.1 which has two known vulnerabilities:
https://www.exploit-db.com/exploits/49766
https://www.exploit-db.com/exploits/49767

3.5.0 resolves the main vulnerability but given how old that version is now (April 2020), it would be a mistake not to update to the latest stable.

[2022-10-27 14:12] sonus21 commented on #169
Can you please raise a PR?

[2022-10-31 20:49] s1-kub opened #170 "Scheduler is not reliable and silently stops working in case of communication problems towards Redis"
**What's not working?**

Scheduler suddenly stops when there's a communication problem (a glitch) towards Redis.

*Cause:*  Recurring `MessageMoverTask` doesn't get re-scheduled in case of `Exception` which causes the scheduler to stop (and also accumulation of messages in the `schedule` queue)

**What're application dependencies ?**
- Rqueue Version:  `2.10.2-RELEASE`
 - Spring Boot  Version: `2.

[2022-11-07 05:08] sonus21 commented on #170
Thanks for reporting this issue. Its been fixed in 2.11, you can upgrade the library.

[2022-11-07 05:08] #170 closed

[2022-11-07 05:08] sonus21 commented on #169
Its fixed in v2.11

[2022-11-07 05:08] #169 closed

[2022-11-10 09:21] shenghu opened #172 "NPE from getNextScheduleTime"
**What's not working?**

[code]

Reason is that in `getNextScheduleTime`,

[code]
Throws NPE as `queueName` is not found in `queueNameToDelay`. `queueNameToDelay` has queue e.g. `tasks-queue`, while `queueName` has value `__rq::queue::{tasks-queue}`

**What're application dependencies ?**
- Rqueue Version: 2.11-RELEASE
 - Spring Boot  Version: 2.2.0.RELEASE
 - Spring Messaging Version
 - Spring Da

[2022-11-10 09:23] shenghu commented on #172
@sonus21 could you please look at this issue asap? Not sure whether the NPE is critical or not. I'm evaluating rqueue for my project.

[2022-11-14 13:01] shenghu commented on #172
@sonus21 PR #173 failed at integration test. Can you please take a look at?

[2022-11-18 13:35] sonus21 commented on #172
Its fixed in 2.11.1

[2022-11-18 13:35] #172 closed